<!-- <div class="container-full"> -->
  <div class="layout-row layout-wrap">
    {% for profile in profiles %}
      <div class="ncc-col-12 ncc-col-gt-xs-6 ncc-col-gt-sm-4 ncc-col-gt-md-3">
        <div class="layout">
          {% include '@ncc/partials/ncc-profile.html.twig' %}
        </div>
      </div>
    {% endfor %}
  </div>
<!-- </div> -->
