{#
/**
 * @file
 * Default theme implementation.
 *
 * Available variables:
 */
#}
{%
set classes = [
'container-full',
]
%}
<article{{ attributes.addClass(classes) }}>
    {% if listingBlock is defined %}
        {% include '@ncc/partials/listing-block.html.twig' with {'listingBlock' : listingBlock} only %}
    {% endif %}
</article>
