{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

<article{{ attributes }}>
  {% if content %}
    {% include '@ncc/partials/billboard-profile.html.twig' %}
    {# Attach cbpFWTabs library #}
    {{ attach_library('ncc/cbpfwtabs') }}
    {# Render content #}
    {% include '@ncc/partials/tabs.html.twig' %}
    {% include '@ncc/partials/profile-footer.html.twig' %}
  {% endif %}
</article>
