<div #elwrapper>
    <div class="preview" #elpreview>
        <p [innerHtml]="content" class="bg-copy"></p>
        <div class="bottom-wrapper">
            <h3>{{name}} <a href="{{ profileUrl }}" target="_blank">@{{account}}</a></h3>
            <h4>{{date}}</h4>
            <svg class="ncc-icon s16">
            <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-logo-circle-twitter-bird"></use>
            </svg>
        </div>
    </div>
    <div class="inner-wrapper" #elcontent>
        <div class="top-wrapper">
            <img src="{{icon}}" alt="">
            <h3>{{name}} <a href="{{ profileUrl }}" target="_blank">@{{account}}</a></h3>
        </div>
        <p [innerHtml]="content"></p>
        <div class="bottom-wrapper">
            <h4>{{date}}</h4>
            <svg class="ncc-icon s16">
            <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-logo-circle-twitter-bird"></use>
            </svg>
        </div>
    </div>
</div>
