<div>
    <p class="bg-copy" #elbackground>{{quote}}</p>
    <div class="layout layout-align-center-center inner-wrapper" #elcontent>
        <svg class="left-quote" width="123" height="103" viewBox="0 0 123 103" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M122.35 76.555c0-14.29-10.42-26.88-30.9-26.88 3.593-15.31 11.14-27.9 22.637-42.19L104.745 0C86.42 16.672 64.86 49.336 64.86 72.813c0 17.352 11.14 29.94 28.746 29.94 17.965 0 28.745-12.588 28.745-26.198zM57.49 76.555c0-14.29-10.42-26.88-30.9-26.88 3.592-15.31 11.137-27.9 22.635-42.19L39.883 0C21.56 16.672 0 49.336 0 72.813c0 17.352 11.14 29.94 28.745 29.94 17.965 0 28.745-12.588 28.745-26.198z"/></g></svg>
        <svg class="right-quote" width="123" height="103" viewBox="0 0 123 103" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M.65 26.445c0 14.29 10.42 26.88 30.9 26.88-3.593 15.31-11.14 27.9-22.637 42.19L18.255 103C36.58 86.328 58.14 53.664 58.14 30.187 58.14 12.835 47 .247 29.393.247 11.43.246.65 12.834.65 26.444zM65.51 26.445c0 14.29 10.42 26.88 30.9 26.88-3.592 15.31-11.137 27.9-22.635 42.19L83.117 103C101.44 86.328 123 53.664 123 30.187 123 12.835 111.86.247 94.255.247 76.29.246 65.51 12.834 65.51 26.444z"/></g></svg>
        <div class="flex">
            <a href="{{tagUrl}}" class="ncc-btn-tag" *ngIf="tagUrl && tagLabel">{{tagLabel}}</a>
            <p class="quote">{{quote | nccslice: 140}}</p>
            <p class="name">~ {{name}}</p>
        </div>
    </div>
</div>
