<div>
    <div class="preview" #elpreview>
        <h3 class="desc-2">{{description}}</h3>
    </div>
    <div class="layout layout-align-center-center inner-wrapper" #elcontent>
        <div class="flex">
            <h3 class="title-1">{{title}}</h3>
            <h3 class="title-2">{{title}}</h3>
            <hr class="bg-wolverine short">
            <p class="desc">{{description}}</p>
            <a href="{{linkUrl}}" class="ncc-btn-tag">View Program</a>
        </div>
    </div>
</div>
