<div>
    <iframe *ngIf="googleMap" [src]="googleMap | nccsafeurl" width="448" height="248" frameborder="0" allowfullscreen #elmap></iframe>
    <div class="bottom-content" #elcontent>
        <div class="inner-wrapper">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
        </div>
    </div>
</div>
