<div>
    <p class="no-margin">ncc-card-template</p>
</div>

<!-- <div [ngStyle]="{'background-image': 'url(' + image + ')'}"></div> -->

<!-- <a href="{{linkUrl}}">{{linkLabel}}</a> -->
<!-- <a href="{{linkUrl}}" class="ncc-btn-tag">{{linkLabel}}</a> -->
<!-- <a href="{{linkUrl}}" class="ncc-btn-base">{{linkLabel}}</a> -->
<!-- <a href="{{tagUrl}}">{{tagLabel}}</a> -->
<!-- <a href="{{tagUrl}}" class="ncc-btn-base">{{tagLabel}}</a> -->

<!-- <img src="{{graphicUrl}}" alt=""> -->
<!-- Responsive Images: <img srcset="{{graphicUrl}}" alt=""> -->

<!--
Template syntax

<input [value]="firstName">
<div [attr.role]="myAriaRole">
<div [class.extra-sparkle]="isDelightful">
<div [style.width.px]="mySize">
<button (click)="readRainbow($event)">
<div title="Hello {{ponyName}}">
<p>Hello {{ponyName}}</p>
<my-cmp [(title)]="name">
<video #movieplayer ...><button (click)="movieplayer.play()"></video>
<p *myUnless="myExpression">...</p>
<p>Card No.: {{cardNumber | myCreditCardNumberFormatter}}</p>
<p>Employer: {{employer?.companyName}}</p>
-->

<!--
Built-in directives

<section *ngIf="showSection">
<li *ngFor="let item of list">
<div [ngSwitch]="conditionExpression">
  <template [ngSwitchWhen]="case1Exp">...</template>
  <template ngSwitchWhen="case2LiteralString">...</template>
  <template ngSwitchDefault>...</template>
</div>
<div [ngClass]="{active: isActive, disabled: isDisabled}">
-->
