<div>
    <div class="bg-img" [ngStyle]="{'background-image': 'url(' + image + ')'}" #elimage></div>
    <div class="bg-overlay"></div>
    <div class="inner-wrapper" #elcontent>
        <div class="top" *ngIf="tagUrl && tagLabel">
            <a href="{{tagUrl}}" class="ncc-btn-tag">{{tagLabel}}</a>
        </div>
        <div class="bottom-wrapper">
            <div class="bottom">
                <h3>{{name}}</h3>
                <p>{{title}}</p>
                <a href="{{linkUrl}}" class="ncc-btn-base" rel="{{trayContentId}}" (click)="openProfile($event)" *ngIf="linkUrl">View Profile</a>
            </div>
        </div>
    </div>
</div>
