<div>
    <div class="preview" #elpreview>
        <p class="day">{{day}}</p>
        <p class="float-left">{{description}}</p>
        <p class="float-right">{{shortDate}}</p>
    </div>
    <div class="inner-wrapper" #elcontent>
        <h4>{{heading}}</h4>
        <h3>{{title}}</h3>
        <p class="desc">{{description}}</p>
        <div class="details clearfix">
            <div class="float-left">
                <span>Time</span>
                <p class="time">{{timeStart}} to {{timeEnd}}</p>
            </div>
            <div class="float-left">
                <span>Location</span>
                <p class="location">{{location}}</p>
            </div>
        </div>
    </div>
    <a href="{{linkUrl}}" class="ncc-btn-base" #elbutton>View Event</a>
</div>
