<div>
    <p class="bg-copy" #elpreview>{{fact}}</p>
    <div class="layout layout-align-start-center inner-wrapper" #elcontent>
        <div *ngIf="icon" class="icon-wrapper">
            <img src="{{icon}}" alt="" class="icon">
        </div>
        <div class="flex-auto">
            <h3 [nccFitText]="{maxFontSize: 150}">{{fact}}</h3>
            <p class="desc">{{description}}</p>
            <p *ngIf="source" class="source">Source: {{source}}</p>
        </div>
    </div>
</div>
