<div>
    <img *ngIf="icon" src="{{icon}}" alt="" #elicon class="icon-large">
    <div class="layout layout-align-start-center inner-wrapper" #elcontent>
        <img *ngIf="icon" src="{{icon}}" alt="" #elicon class="icon-small">
        <p>{{title}}</p>
    </div>
    <a href="{{linkUrl}}" class="ncc-btn-base" #elbutton>{{linkLabel}}</a>
</div>