<div>
    <div class="preview" #elpreview>
        <h3 class="title-3">{{title}}</h3>
    </div>
    <div class="layout layout-align-center-center inner-wrapper" #elcontent>
        <div class="flex">
            <h3 class="title-1">
                <a href="{{linkUrl}}">{{title}}</a>
            </h3>
            <h3 class="title-2">{{title}}</h3>
            <hr class="bg-wolverine short">
            <p>{{date}}</p>
            <span class="ncc-btn-tag">{{articleType ? articleType : 'Article'}}</span>
        </div>
    </div>
</div>
