<div>
    <div class="layout layout-align-center-center inner-wrapper">
        <div class="flex">
            <h3 #eltitle1 class="title-1" [innerHtml]="title"></h3>
            <h3 #eltitle2 class="title-2" [innerHtml]="title"></h3>
            <img *ngIf="icon" src="{{icon}}" alt="" class="icon" #elicon>
        </div>
    </div>
</div>
