<div>
    <div class="bg-img" [ngStyle]="{'background-image': 'url(' + image + ')'}" #elimage></div>
    <div class="bg-overlay"></div>
    <a href="#gallery-trigger" class="ncc-btn-base" rel="{{modalContentId}}" (click)="openModal($event)" #elicon>
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="currentColor"><path d="M41.13 13.768l-1.13-.13V40H11.733l-.483 3.174 31.93 2.913 2.907-31.868z"/><path d="M38 32H2v6h36zM14.143 20.485c.167-.277.457-.457.78-.483.327-.02.638.108.845.356l3.98 4.777 4.34-9.55a1.02 1.02 0 0 1 .935-.585c.4.01.757.257.906.63L31.675 30H38V2H2v28h6.434l5.71-9.515zM12 8c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4z"/></g></svg>
    </a>
</div>
