{#
/**
 * @file
 * Theme override for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 */
#}
{%
set classes = [
  'list-inline',
]
%}
<ul{{ attributes.addClass(classes) }}>
	<li>{{ link }}</li>
</ul>
