.html
	{
		background-color: blue;
	}

.body
	{	padding: 15px 15px 15px 75px;	
		/* Display's native resolution is 1024x720 */
		width: 910px; 
		height: 100px;
		float: right;
		color: rgb(153,153,153);
		/*overflow:hidden; to hide scrollbars for the monitor downstairs --ttkoch */
	}

.out
	{	color: rgb(255,51,61);	}	

.other	
	{	color: rgb(102,153,255);	}

div.staffer
	{	border: 0;
		/* width: 272px; */
		width: 200px;
	
		/* height: 114px; */
		height: 145px; 
		margin: 0 18px 0px 0;
		float: left;
		color: green;
	}	

h2	{	font-size: 32px;	
		margin: 0; padding: 0;
	}	
html, body, div, span, fieldset, h2
	{	padding: 0; margin: 0; border: 0;	
	}

.body
	{	font-family: Candara, Univers, Helvetica, Arial, sans-serif;
		background-color: black;
	}

.status, .out, .other 
	  {       font-size: 48px;
              font-weight: bold;
      }

.details        
	{       font-size: 18px;       }

#admin	
	{	border: 1px solid rgb(102,255,255);	
		color: inherit;
		background-color: rgb(204,255,255);
		clear: both;
		padding: 0 1em;
	}

#admin p
	{	text-align: right;	}

#change_admin_user
	{	float: right;
		display: block;
		margin: 1em 0;
	}
