:host{display:block;width:100%;height:100%;position:relative;box-sizing:border-box}:host>div{position:absolute;top:0;right:0;bottom:0;left:0;background-position:center;background-repeat:no-repeat;background-size:cover;transition:all .5s cubic-bezier(0.35, 0, 0.25, 1);-webkit-transform:scale(1.25);transform:scale(1.25)}
