<div>
    <div class="bg-img" [ngStyle]="{'background-image': 'url(' + image + ')'}" #elimage></div>
    <div class="bg-overlay"></div>
    <h3 #eltitle>{{title}}</h3>
    <a href="{{linkUrl}}" class="ncc-btn-base" #elbutton>
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="currentColor" d="M47.957 23.59c-.005-.023-.015-.043-.02-.066a2 2 0 0 0-.103-.318c-.016-.038-.04-.07-.06-.108-.04-.082-.082-.163-.135-.238-.03-.043-.068-.08-.1-.122-.052-.062-.103-.125-.16-.18l-.03-.033-24-22a2 2 0 0 0-2.703 2.95L40.857 22H2a2 2 0 0 0 0 4h38.858l-20.21 18.525a2 2 0 0 0 2.703 2.95l24-22c.012-.01.02-.022.03-.033a1.97 1.97 0 0 0 .16-.18c.033-.042.07-.08.1-.122.052-.075.094-.157.136-.24.018-.035.042-.07.058-.106.044-.102.076-.21.103-.32.005-.022.015-.042.02-.064a1.973 1.973 0 0 0 0-.82z"/></svg>
    </a>
</div>
