<div>
    <div class="bg-img" [ngStyle]="{'background-image': 'url(' + image + ')'}" #elimage></div>
    <div class="bg-texture" #eltexture></div>
    <div class="layout layout-align-center-center inner-wrapper" #elcontent>
        <div class="flex">
            <span class="ncc-btn-tag">Story</span>
            <h3> <a href="{{tagUrl}}">{{title}}</a></h3>
            <hr class="bg-wolverine short">
            <p *ngIf="name">by {{name}}</p>
        </div>
    </div>
</div>
