{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('ncc/ncc-modal') }}
{% import '@ncc/macros/macros.html.twig' as nccMacros %}
{% include '@ncc/partials/billboard-marketing.html.twig' %}
