<div>
    <div class="bg-img" [ngStyle]="{'background-image': 'url(' + image + ')'}" #elimage></div>
    <div class="inner-wrapper" #elcontent>
        <div class="top">
            <a href="{{linkUrl}}" class="ncc-btn-tag">Feature</a>
        </div>
        <div class="bottom-wrapper">
            <div class="bottom">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
            </div>
        </div>
    </div>
</div>
