<div [ngStyle]="{'background-color': program.color || '#b20818'}">
    <div class="bg-type">{{program.title}}</div>
    <div class="inner-wrapper">
        <h6 class="ncc-description">
            <span>{{program.level}}</span>
        </h6>
        <h4>{{program.title}}</h4>
    </div>
</div>
