{# Helper file for adding macros #}

{# Create Macro for recursive submenu rendering #}
{% macro recursiveMenuItems(item) %}

  {% if item.children|length %}
    <ul class="ncc-submenu-items list-unstyled">
      {% for subitem in item.children %}
        <li class="no-padding-bottom  text-left {{ subitem.class }}">
          <a href="{{ subitem.href }}" class="block ncc-body-2 ncc-fw-200">
            <span class="container-full block">{{ subitem.caption }}</span>
          </a>
          {{ _self.recursiveMenuItems(subitem) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}

{# Create Macro for marketing form rendering #}
{% macro marketingForm(billboardMarketing) %}
    <div class="ncc-marketing-form">
        {% if billboardMarketing.thanks %}
            <div class="ncc-marketing-thank-you-note">
                <h4>{{ billboardMarketing.thanks.title }}</h4>
                <p class="ncc-body-2">{{ billboardMarketing.thanks.description }}</p>
                {{ billboardMarketing.thanks.cta }}
            </div>
        {% else %}
            {{ billboardMarketing.form }}
        {% endif %}
    </div>

{% endmacro %}
