<div>
    <div class="inner-wrapper">

        <div *ngIf="selectedEvents && selectedEvents.events && selectedEvents.events.length" class="ncc-calendar-tray-heading">
            <hr class="bg-wolverine s2 short">
            <h5>EVENTS ON <span [innerHtml]="formatHeading()"></span></h5>
        </div>
        
        <div *ngIf="selectedEvents && selectedEvents.events && selectedEvents.events.length">
            <div *ngFor="let event of selectedEvents.events">
                <div class="ncc-listing-block layout-row">
                    <div class="ncc-col-2">
                        <div class="left-content event">
                            <div class="square-wrapper bg-magneto">
                                <span class="square-content">{{ currentDay }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ncc-col-10">
                        <div class="right-content">
                            <h4 class="ncc-label">{{ formatEventDateOutput(event.start, event.end) }}</h4>
                            <h3 class="ncc-title-2">
                                <a [href]="event.url" [innerHtml]="event.title"></a>
                            </h3>
                            <div [innerHtml]="event.description"></div>
                            <div class="content-type">{{ event.type }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<button id="ncc-tray-close-btn" (click)="trayClose()">
    <svg class="ncc-icon">
        <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-remove-1"></use>
    </svg>
</button>
