<div class="ncc-loading-spinner" *ngIf="isLoading">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>

<div class="ncc-program-finder-inner-wrapper" [ngClass]="{'ncc-program-tray-is-open': isTrayOpen}">
     <div class="layout-row layout-wrap">
        <template ngFor let-program [ngForOf]="programs">
            <div class="ncc-program-card-wrapper program-card-animation" (click)="toggleProgramDebounce(program.nid)" [style.order]="program.order" [ngClass]="{darken: program.darken}">
                <div>
                    <ncc-program-card [program]="program"></ncc-program-card>
                </div>
            </div>
            <div class="ncc-program-stack-wrapper" [style.order]="program.stackOrder" [nccProgramFinderCollapse]="!program.active">
                <div *ngIf="program.active" [@programStackState]="program.active">
                    <template [nccDynamicHTML]="program.stack"></template>
                </div>
            </div>
        </template>
    </div>
</div>

<div *ngIf="programs && !programs.length">
    <p><strong>Looks like no programs match that combination. Please try another one.</strong></p>
</div>

<ncc-program-tray [filterCategories]="filterCategories" [isTrayOpen]="isTrayOpen"></ncc-program-tray>
<template [ngIf]="filterCategories">
    <button id="ncc-tray-open-btn" (click)="trayOpen()">
        <svg class="ncc-icon">
            <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-filter-2"></use>
        </svg>
        <span class="ncc-description text-uppercase">Filter</span>
    </button>
</template>

<div class="ncc-spacer-sm"></div>
