<div>
    <svg width="276" height="276" viewBox="0 0 276 276" xmlns="http://www.w3.org/2000/svg" #elgraphic><path d="M267.375 0c2.336 0 4.357.854 6.064 2.56C275.145 4.27 276 6.29 276 8.626v258.75c0 2.336-.854 4.357-2.56 6.064-1.708 1.706-3.73 2.56-6.065 2.56-2.336 0-4.357-.854-6.064-2.56-1.706-1.708-2.56-3.73-2.56-6.065V8.625c0-2.336.854-4.357 2.56-6.064C263.02.855 265.04 0 267.376 0zm-34.5 0c2.336 0 4.357.854 6.064 2.56 1.706 1.708 2.56 3.73 2.56 6.065v258.75c0 2.336-.854 4.357-2.56 6.064-1.708 1.706-3.73 2.56-6.065 2.56-2.336 0-4.357-.854-6.064-2.56-1.706-1.708-2.56-3.73-2.56-6.065V8.625c0-2.336.854-4.357 2.56-6.064C228.52.855 230.54 0 232.876 0zM77.625 0c4.672 0 8.715 1.707 12.13 5.12 3.413 3.415 5.12 7.458 5.12 12.13v241.5c0 4.672-1.707 8.715-5.12 12.13-3.415 3.413-7.458 5.12-12.13 5.12H17.25c-4.672 0-8.715-1.707-12.13-5.12C1.708 267.464 0 263.42 0 258.75V17.25c0-4.672 1.707-8.715 5.12-12.13C8.536 1.708 12.58 0 17.25 0h60.375zm0 258.75v-25.875H17.25v25.875h60.375zm0-34.5V51.75H17.25v172.5h60.375zm0-181.125V17.25H17.25v25.875h60.375zM189.75 0c4.672 0 8.715 1.707 12.13 5.12 3.413 3.415 5.12 7.458 5.12 12.13v241.5c0 4.672-1.707 8.715-5.12 12.13-3.415 3.413-7.458 5.12-12.13 5.12h-60.375c-4.762 0-8.827-1.685-12.196-5.054-3.37-3.37-5.055-7.434-5.055-12.196V17.25c0-4.762 1.685-8.827 5.054-12.196C120.547 1.684 124.612 0 129.374 0h60.375zm0 258.75v-25.875h-60.375v25.875h60.375zm0-34.5V51.75h-60.375v172.5h60.375zm0-181.125V17.25h-60.375v25.875h60.375zM181.125 69v34.5H138V69h43.125zM172.5 94.875v-17.25h-25.875v17.25H172.5zM69 69v34.5H25.875V69H69zm-8.625 25.875v-17.25H34.5v17.25h25.875z" fill="currentColor" fill-rule="evenodd"/></svg>

    <div class="layout layout-align-center-center inner-wrapper" #elcontent>
        <div class="flex">
            <h3 [nccFitText]="{maxFontSize: 90}">{{title}}</h3>
            <hr class="bg-wolverine s2 short">
            <p>{{description}}</p>
            <a href="{{linkUrl}}" class="ncc-btn-tag" *ngIf="linkUrl && linkLabel">{{linkLabel}}</a>
        </div>
    </div>
</div>
