.selected-wrapper {
  width: 250px;
  min-height: 30px;
  border: 1px solid #a6a6a6;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fcfcfa;
  position: relative;
}

.selected-wrapper::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #323232;
}

ul.ncc-icon-drop-down {
  display: none;
  width: 80%;
  max-width: 250px;
  list-style: none;
  padding: 0;
  margin: -11px 0 0 0;
  border: 1px solid #a6a6a6;
  position: absolute;
  background: #FFF;
  height: 320px;
  overflow-x: scroll;
  z-index: 1;
}

.ncc-icon-drop-down > li.ncc-icon-drop-down-li {
  border-bottom: 1px solid #a6a6a6;
}

.ncc-icon-drop-down > li.ncc-icon-drop-down-li,
.selected-wrapper > div.ncc-icon-drop-down-div{
  padding: 8px;
  cursor: pointer;
}

.ncc-icon-drop-down > li.ncc-icon-drop-down-li:hover {
  background-color: rgba(0,0,0,.05);
}

.ncc-icon-drop-down > li.ncc-icon-drop-down-li.selected {
  font-weight: bold;
  background-color: rgba(0,0,0,.05);
}

.ncc-icon-drop-down > li.ncc-icon-drop-down-li > span.icon-wrapper {
  /*display: block;*/
}

.ncc-icon-drop-down > li.ncc-icon-drop-down-li > span.icon-wrapper > svg,
.selected-wrapper > div.ncc-icon-drop-down-div > span.icon-wrapper > svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  padding-right: 5px;
}
