
.paragraphs-dropbutton-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 1px;
	margin: 1em 0 2em;
}
.paragraphs-dropbutton-wrapper .ncc-paragraph-item {
	width: 100%;
	padding: 2em 0;
	margin: 0;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background-color: #dedede;
	box-sizing: border-box;
	position: relative;
	text-align: center;
}
@media (min-width: 320px) {
	.paragraphs-dropbutton-wrapper .ncc-paragraph-item {
		width: 50%;
	}
}
@media (min-width: 480px) {
	.paragraphs-dropbutton-wrapper .ncc-paragraph-item {
		width: 33.333%;
	}
}
@media (min-width: 1024px) {
	.paragraphs-dropbutton-wrapper .ncc-paragraph-item {
		width: 25%;
	}
}
@media (min-width: 1280px) {
	.paragraphs-dropbutton-wrapper .ncc-paragraph-item {
		width: 20%;
	}
}
@media (min-width: 1600px) {
	.paragraphs-dropbutton-wrapper .ncc-paragraph-item {
		width: 16.666%;
	}
}
.paragraphs-dropbutton-wrapper .ncc-paragraph-item:hover{
	background-color: #E5F1F8;
	color: #0074bd;
}
.paragraphs-dropbutton-wrapper .ncc-paragraph-item span{
	display: block;
	clear: both;
	font-size: 0.75rem;
	line-height: 1rem;
	padding: 0 0.75em;
}
.paragraphs-dropbutton-wrapper .ncc-paragraph-item span.ncc-paragraph-icon{
    margin-bottom: 1em;
    padding: 0;
}
.paragraphs-dropbutton-wrapper .ncc-paragraph-item span.ncc-paragraph-icon img{
	width: 30px;
	height: 30px;
}
.paragraphs-dropbutton-wrapper .ncc-paragraph-item input.button{
	position: absolute;
	padding: 0;
	width: 100%;
	height: 100%;
	opacity: 0.0;
	left: 0;
	top: 0;
	margin: 0;
	border: none;
    background-color: transparent;
    outline: none;
}
.paragraphs-dropbutton-wrapper .ncc-paragraph-item input.button:hover{
	background: transparent;

}
.paragraphs-dropbutton-wrapper .ncc-paragraph-item input.button:focus{
	outline: none;
	box-shadow: none;
}
.file.file--type-image.file--view-mode-thumbnail .field.field--name-filename{
	word-break: break-all;
}
.ncc-top-margin{
	margin-top: 20px;
}
.ncc-bottom-margin{
	margin-bottom: 20px;
}
.clear{
	clear: both;
	display: block;
}
