.spark451-profile-import-form #fields-wrapper fieldset .fieldset-wrapper .field-row-wrapper, .spark451-profile-import-form #fields-wrapper fieldset .fieldset-wrapper .form-submit {
     clear: both;
 }
.spark451-profile-import-form #fields-wrapper fieldset .fieldset-wrapper .field-row-wrapper > div {
    float: left;
    margin-left: 1em;
}
.spark451-profile-import-form #fields-wrapper fieldset .fieldset-wrapper .field-row-wrapper > div:first-child {
    margin-left: 0;
}
.spark451-profile-import-form #fields-wrapper fieldset .fieldset-wrapper .form-submit {
    display: block;
    margin-left: 0;
    margin-top: 1em;
}