{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

<label class="ncc-body-1 control control--radio">
	<input{{ attributes }} />{{ element['#title'] }}
	{{ children }}
	<div class="control__indicator"></div>
</label>
