{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{# Define image object #}
{%
set image = {
    'type' : paragraph.field_cb_image_layout.value,
    'parallax': paragraph.field_cb_image_parallax.value,
    'url': image_attributes.toArray()['src'],
    'description':  paragraph.field_cb_image_description.value,
    'additionalTopSpacing': (negative_margins) ? negative_margins.additionalTopSpacing : false,
    'additionalBottomSpacing': (negative_margins) ? negative_margins.additionalBottomSpacing : false
}
%}

{# Define prefix and suffix to image component #}
{% set prefix = (image.type == 'content-width') ? '<div class="container-full">' : '' %}
{% set suffix = (prefix) ? '</div>' : '' %}
{# Define image inline template #}
{% set ncc_image = {
    '#type': 'inline_template',
    '#template': '{{ prefix }}{{ image | raw }}{{ suffix }}',
    '#context': {
        'prefix': {'#markup': prefix},
        'image': include('@ncc/partials/ncc-image.html.twig'),
        'suffix': {'#markup': suffix},
    }
}
%}
{# Render top margin #}
{% if settings_margins.top is defined %}
    {{ settings_margins.top }}
{% endif %}
{# Render content #}
{{ ncc_image }}
{# Render bottom margin #}
{% if settings_margins.bottom is defined %}
    {{ settings_margins.bottom }}
{% endif %}
