{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{# Define rule object #}
{%
set rule = {
    size: paragraph.field_cb_rule_size.value,
    layout: paragraph.field_cb_teaser_layout.value,
    style: paragraph.field_cb_rule_style.value
}
%}
{# Define classes #}
{%
set classes = [
    ('thin' == rule.size) ? 's2' : 's6'
]
%}
{# Define content attributes #}
{% set content_attributes = content_attributes.addClass(classes) %}
{% if 'primary' == rule.style %}
    {% set content_attributes = content_attributes.addClass('bg-wolverine') %}
{% elseif 'tertiary' == rule.style %}
    {% set content_attributes = content_attributes.addClass('bg-light-grey') %}
{% endif %}
{# Setup outoput based on layout #}
{% if 'content' == rule.layout %}
    {%
    set output = {
        '#type': 'inline_template',
        '#template': '{{ prefix }}{{ rule | raw }}{{ suffix }}',
        '#context': {
            'prefix': {'#markup': '<div class="container-full">'},
            'rule': include('@ncc/partials/rule.html.twig'),
            'suffix': {'#markup': '</div>'},
        }
    }
    %}
{% else %}
    {% set output = include('@ncc/partials/rule.html.twig') %}
{% endif %}
{# Render top margin #}
{% if settings_margins.top is defined %}
    {{ settings_margins.top }}
{% endif %}
{# Render content per se #}
{{ output | raw }}
{# Render bottom margin #}
{% if settings_margins.bottom is defined %}
    {{ settings_margins.bottom }}
{% endif %}
