{# billboard-event.html.twig #}

<div class="ncc-billboard-event">
    <div class="container-full">
        <div class="layout-row layout-wrap">
            <div class="ncc-col-12 ncc-details-wrapper">
                <div class="ncc-details">
                    <a href="{{ billboardEvent.chip.url }}" class="ncc-btn-tag">{{ billboardEvent.chip.title }}</a>
                    <h1 class="ncc-display-2 no-margin-bottom">{{ billboardEvent.title }}</h1>
                    <h4 class="ncc-subhead-2 no-margin">{{ billboardEvent.subtitle }}</h4>
                    <hr class="default-margin bg-wolverine s2 short">
                    {% if billboardEvent.ctas.collection|length %}
                        {% for button in billboardEvent.ctas.collection %}
                            {{ button }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if billboardEvent.stack|length %}
                <div class="ncc-col-12 ncc-stack" {{ billboardEvent.stack.attr }}>
                    {{ billboardEvent.stack.collection }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
