{# billboard-media.html.twig #}

{%
set classes = [
  'ncc-billboard-media',
  'position-relative',
  block.type == 'news' ? ' ncc-billboard-media-news' : '',
  block.background ? ' with-image' : '',
  (block.type == 'story' and block.stack|length) ? ' ncc-billboard-media-stack' : ''
]
%}

<div class="ncc-billboard-general-wrapper">
    <div class="{{ classes | join(' ') }}">

        {{ block.background }}

        <div class="ncc-billboard-media-overlay overflow-hidden">
            <div class="ncc-billboard-media-overlay-inner">
                {{ backgroundPlaceholder }}
            </div>
        </div>

        <div class="ncc-billboard-media-content position-relative">
            <div class="container-full">
                <div class="ncc-col-10 ncc-col-lg-12 center-block text-center no-padding-bottom">
                    <h3 class="ncc-subhead-1 fg-wolverine text-uppercase no-margin">{{ block.heading }}</h3>
                    <h1 class="ncc-display-2 fg-white no-margin-bottom">{{ block.title }}</h1>
                    <p class="ncc-introduction fg-white no-margin-bottom">{{ block.description }}</p>
                    <hr class="bg-wolverine s2 short center-block">
                    <h4 class="ncc-subhead-1 fg-white no-margin">{{ block.author }}</h4>
                    <h5 class="ncc-subhead-2 fg-white no-margin">{{ block.date }}</h5>
                </div>
            </div>
        </div>
    </div>
    {% if block.type == 'story' and block.stack|length %}
        <div class="container-full ncc-stack" {{ block.stack.attr }}>
            <div class="ncc-col-12">
                {{ block.stack.collection }}
            </div>
        </div>
    {% endif %}
</div>
