{# billboard-marketing.html.twig #}

{%
set classes = [
  'ncc-billboard-marketing',
  'position-relative',
  billboardMarketing.background ? 'with-image' : '',
  billboardMarketing.mode == 'underneath' ? 'ncc-form-underneath' : '',
  'border-' ~ billboardMarketing.ruler_color
]
%}

<div class="{{ classes | join(' ') }}" id="ncc-billboard-marketing">
    <div class="ncc-billboard-marketing-wrapper">
        {{ billboardMarketing.background ? billboardMarketing.background : '' }}
        <div class="container-full ncc-billboard-marketing-logo">
            <div class="layout-row layout-wrap">
                <div class="ncc-col-12 ncc-col-gt-sm-5 no-padding-bottom">
                    <a href="/" class="text-center flex-nogrow block">
                        <img class="img-responsive ncc-hidden ncc-show-gt-md" src="{{ base_path ~ directory }}/images/header-logo.png" alt="{{ siteTitle }}, Naperville, Illinois">
                        <img class="ncc-hidden-gt-md" src="{{ base_path ~ directory }}/images/mobile-header-logo.png" alt="{{ siteTitle }}, Naperville, Illinois">
                    </a>
                </div>
            </div>
        </div>
        <div class="container-full ncc-billboard-marketing-main">
            <div class="layout-row layout-wrap">
                <div class="ncc-billboard-marketing-headline ncc-col-12 ncc-col-gt-sm-{{ billboardMarketing.mode == 'underneath' ? 8 : 7 }}">
                    <h1 class="no-margin-top">{{ billboardMarketing.title }}</h1>
                    <h4 class="ncc-introduction no-margin">{{ billboardMarketing.subtitle }}</h4>
                </div>
                {% if billboardMarketing.mode != 'underneath' %}
                    <div class="ncc-col-12 ncc-col-gt-sm-5 ncc-marketing-form-card">
                        {{ nccMacros.marketingForm(billboardMarketing) }}
                    </div>
                {% endif %}
            </div>
        </div>

    {% if billboardMarketing.modal %}
        {% set vars = {'modal': { type: 'form', id: billboardMarketing.modal.id, content: (billboardMarketing.modal.content) }, 'base_path': base_path, 'directory': directory} %}
        {% include '@ncc/partials/modal.html.twig' with vars only %}
    {% endif %}
    </div>
    {% if billboardMarketing.mode == 'underneath' %}
        <div class="ncc-billboard-marketing-form-wrapper bg-{{ billboardMarketing.form_background }}">
            <div class="container-full">
                {{ nccMacros.marketingForm(billboardMarketing) }}
            </div>
        </div>
    {% endif %}
</div>

