{# billboard-academic.html.twig #}

{%
    set classes = [
        billboardAcademic.stack ? 'with-stack' : ''
    ]
%}

<div class="ncc-billboard-academic {{ classes | join(' ') }}">
    <div class="ncc-billboard-academic-overlay-wrapper">
        <div class="ncc-billboard-academic-overlay">
            {{ billboardAcademic.backgroundPlaceholder }}
        </div>
    </div>
    <div class="container-full position-relative">
        <div class="layout-row layout-wrap">
            <div class="ncc-col-12 ncc-billboard-heading">
                <div>
                    <hr class="default-margin bg-wolverine s2 short no-margin-top">
                    <h4 class="ncc-subhead-1 no-margin-top" style="color:#b20818">{{ billboardAcademic.schools }}</h4>
                    <h4 class="ncc-subhead-2 no-margin-top">{{ billboardAcademic.department }}</h4>
                    <h1 class="ncc-display-2 no-margin">{{ billboardAcademic.title }}</h1>
                </div>
            </div>
            <div class="ncc-col-12 ncc-col-gt-md-4">
                <div class="layout-row layout-wrap">
                    <div class="ncc-col-12 ncc-col-gt-xs-6 ncc-col-gt-md-12 ncc-billboard-buttons" {{ billboardAcademic.ctas.attr }}>
                        {% if billboardAcademic.ctas.collection|length %}
                            {% for button in billboardAcademic.ctas.collection %}
                                <div>
                                    {{ button }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="ncc-col-12 ncc-col-gt-xs-6 ncc-col-gt-md-12 ncc-billboard-contact">
                        <div>
                            <p class="ncc-label no-margin-bottom">Questions?</p>
                            <h4 class="ncc-subhead-2 no-margin">{{ billboardAcademic.name }}</h4>
                            <h4 class="ncc-subhead-2 no-margin">{{ billboardAcademic.phone }}</h4>
                            <h4 class="ncc-subhead-2 fg-magneto no-margin"><a href="mailto:{{ billboardAcademic.email }}">{{ billboardAcademic.email }}</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            {% if billboardAcademic.stack|length %}
                <div class="ncc-col-12 ncc-col-gt-md-8 ncc-stack" {{ billboardAcademic.stack.attr }}>
                    <div>
                        {{ billboardAcademic.stack.collection }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
