{# billboard-profile.html.twig #}

{%
set classes = [
  billboardProfile.stack ? '' : 'no-stack'
]
%}

<div class="ncc-billboard-profile {{ classes | join(' ') }}">
    <div class="container-full position-relative">
        <div class="layout-row layout-wrap">
            <div class="ncc-col-12 no-padding-bottom ncc-details-wrapper">
                <div class="container-full ncc-details">
                    <h1 class="ncc-display-2 no-margin-bottom">{{ billboardProfile.first_name }} {{ billboardProfile.last_name }}</h1>
                    <h4 class="ncc-subhead-2 no-margin">{{ billboardProfile.title }}</h4>
                    <hr class="default-margin bg-wolverine s2 short">
                    <div class="layout-row layout-wrap no-padding-bottom">
                        <div class="ncc-col-12 ncc-col-sm-6 ncc-contact">
                            <p class="ncc-label no-margin">Contact</p>
                            <h4 class="ncc-subhead-2 no-margin">{{ billboardProfile.phone }}</h4>
                            <h4 class="ncc-subhead-2 fg-magneto no-margin"><a href="mailto:{{ billboardProfile.email }}">{{ billboardProfile.email }}</a></h4>
                        </div>

                        {% if billboardProfile.isUserAuthenticated and billboardProfile.show_office and
                            ( billboardProfile.office_location is not empty or billboardProfile.office_hours is not empty) %}
                        <div class="ncc-col-12 ncc-col-sm-6 ncc-office">
                            <p class="ncc-label no-margin">Office</p>
                            <h4 class="ncc-subhead-2 no-margin">{{ billboardProfile.office_location }}</h4>
                            <h4 class="ncc-subhead-2 no-margin">{{ billboardProfile.office_hours }}</h4>
                        </div>
                        {% endif %}
                        {% if billboardProfile.socials|length %}
                            <div class="ncc-col-12 no-padding-bottom ncc-social-networks">
                                <div class="layout-row layout-wrap no-margin">
                                {% for network in billboardProfile.socials %}
                                    <a href="{{ network.link }}" target="_blank" class="flex-nogrow">
                                        <svg class="ncc-icon">
                                            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#{{ network.icon }}"></use>
                                        </svg>
                                    </a>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if billboardProfile.stack|length %}
                <div class="ncc-col-12 no-padding-bottom ncc-stack {{ billboardProfile.stack.attr }}">
                    {{ billboardProfile.stack.collection }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
