{# billboard-general.html.twig #}

{%
set classes = [
  'ncc-billboard-general',
  'position-relative',
  billboardGeneral.background ? 'with-image' : '',
  billboardGeneral.stack|length ? ' ncc-billboard-general-stack' : ''
]
%}

<div class="ncc-billboard-general-wrapper">
    <div class="{{ classes | join(' ') }}">
        {{ billboardGeneral.background ? billboardGeneral.background : '' }}
        <div class="container-full ncc-relative-content">
            <div class="ncc-col-12 no-padding">
                <div class="outer-wrapper">
                    <div>
                        <h1 class="ncc-display-2 no-margin-top">{{ billboardGeneral.title }}</h1>
                        {% if billboardGeneral.ctas.collection|length %}
                            <div class="layout-row layout-wrap ncc-billboard-buttons no-margin" {{ billboardGeneral.ctas.attr }}>
                                {% for button in billboardGeneral.ctas.collection %}
                                    {{ button }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if billboardGeneral.stack|length %}
        <div class="container-full ncc-stack" {{ billboardGeneral.stack.attr }}>
            <div class="ncc-col-12">
                {{ billboardGeneral.stack.collection }}
            </div>
        </div>
    {% endif %}
</div>
