{# blog-programs.html.twig #}

{#Display the blog programs and title#}
{% if mainContent.stack|length %} 
    <div id="related programs" class="container-full ncc-stack">
        <div class="ncc-col-12">
            <div class="ncc-col-12 ">
                <hr class="default-margin bg-wolverine s2 short">
                <h3 class="ncc-display-c no-margin-bottom">
                    Related Programs
                </h3>
            </div>
            {{mainContent.stack.collection}}
            <div class="ncc-spacer-sm"></div>
        </div>
    </div>
{% endif %}


