{# blog-sidebar.html.twig #}

{#Display the blog feed and sidebar in a row block#}
<div class="container-full position-relative">
    <div id="info">
        {{mainContent.info}}
    </div>
</div>
<div class="container-full position-relative inline-block layout-row ncc-blog-bottom-spacer">
    <div class ="ncc-blog-full">
        <div id="feed"> 
            {{mainContent.feed}}
        </div>
        <div id="categories" class="position-relative ncc-hidden-gt-sm ncc-show-sm">
            <h3> Categories </h3>
            {{mainContent.categories}} 
        </div>
    </div>
    <div id="sidebar" class="position-relative inline-block layout-column ncc-col-4 ncc-hidden ncc-show-gt-sm">
        {% if mainContent.subscription %}
            <div id="subscription" class="blog-landing-sidebar">
                {#<h3> Subscribe </h3>#}
                {{mainContent.subscription}}
            </div>
        {% endif %}
        <div id="categories" class="blog-sidebar">
            <h3> Categories </h3>
            {{mainContent.categories}} 
        </div>
    </div>
</div>


