{# blog-sidebar.html.twig #}

{#Display the blog feed and sidebar in a row block#}
<div class="container-full position-relative inline-block layout-row">
    <div id="body" class ="ncc-blog-full"> 
        {{mainContent.body}}
        {#If the device is small display underneath main text#}
        <div class="position-relative ncc-hidden-gt-sm ncc-show-sm ncc-blog-bottom-spacer">
        {% if mainContent.related_posts %}
                <div id="related posts">
                    <h3> Related Posts </h3>  
                    {{mainContent.related_posts}}
                </div>
            {% endif %}
        </div>
        <div class="position-relative ncc-hidden-gt-sm ncc-show-sm ncc-blog-bottom-spacer">
            {% if mainContent.related_resources %}
                <div id="related resources"> 
                    <h3> Related Resources </h3> 
                    {{mainContent.related_resources}}
                </div>
            {% endif %}
        </div>
    </div>
    {#Normal Display Location#}
    <div class="position-relative inline-block layout-column ncc-col-4 ncc-hidden ncc-show-gt-sm">
        {% if mainContent.related_posts %}
            <div id="related posts" class="blog-sidebar">
                <h3> Related Posts </h3>  
                {#This div is for formatting#}
                <div class="container-full">
                    {{mainContent.related_posts}} 
                </div>
                {#Keep Position Relative to Related Posts#}
                {% if mainContent.related_resources %}
                <div id="related resources" class=" blog-position-relative"> 
                    <h3> Related Resources </h3> 
                    {{mainContent.related_resources}}
                </div>
                {% endif %}
            </div>
        {% endif %}
        {#If there are no related posts chosen, check to display related resources#}
        {% if mainContent.related_resources is not null and mainContent.related_posts is empty%}
            <div id="related resources" class=" blog-position-relative"> 
                <h3> Related Resources </h3> 
                {{mainContent.related_resources}}
            </div>
        {% endif %}
    </div>
</div>


