{# breadcrumbs.html.twig #}

{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="ncc-breadcrumbs ncc-hidden ncc-show-gt-md">
    <div class="container-full">
        <ol class="layout-row layout-wrap">
        {% for item in breadcrumb %}
          <li class="flex-nogrow">
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endfor %}
        </ol>
    </div>
  </nav>
{% endif %}
