{# colors.html.twig #}
{# demo template #}

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-3">
            <div class="demo-content bg-magneto fg-white">
                <p class="ncc-body-2">.bg-magneto.fg-white</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-storm fg-white">
                <p class="ncc-body-2">.bg-storm.fg-white</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-mystique fg-white">
                <p class="ncc-body-2">.bg-mystique.fg-white</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-rogue fg-white">
                <p class="ncc-body-2">.bg-rogue.fg-white</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-wolverine fg-white">
                <p class="ncc-body-2">.bg-wolverine.fg-white</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-grey fg-white">
                <p class="ncc-body-2">.bg-grey.fg-white</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-light-grey fg-black">
                <p class="ncc-body-2">.bg-light-grey.fg-black</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-black fg-white">
                <p class="ncc-body-2">.bg-black.fg-white</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-white fg-black">
                <p class="ncc-body-2">.bg-white.fg-black</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-warn fg-white">
                <p class="ncc-body-2">.bg-warn.fg-white</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-transparent fg-black">
                <p class="ncc-body-2">.bg-transparent.fg-black</p>
            </div>
        </div>
    </div>
</div>

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-3">
            <div class="demo-content bg-white fg-magneto">
                <p class="ncc-body-2">.bg-white.fg-magneto</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-white fg-storm">
                <p class="ncc-body-2">.bg-white.fg-storm</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-white fg-mystique">
                <p class="ncc-body-2">.bg-white.fg-mystique</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-white fg-rogue">
                <p class="ncc-body-2">.bg-white.fg-rogue</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-white fg-wolverine">
                <p class="ncc-body-2">.bg-white.fg-wolverine</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-white fg-grey">
                <p class="ncc-body-2">.bg-white.fg-grey</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-black fg-light-grey">
                <p class="ncc-body-2">.bg-black.fg-light-grey</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-white fg-black">
                <p class="ncc-body-2">.bg-white.fg-black</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-black fg-white">
                <p class="ncc-body-2">.bg-black.fg-white</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content bg-white fg-warn">
                <p class="ncc-body-2">.bg-white.fg-warn</p>
            </div>
        </div>
    </div>
</div>
