{# footer.html.twig #}

<footer class="ncc-footer" role="contentinfo">
    <img srcset="{{ base_path ~ directory }}/images/footer-graphic.png 1x, {{ base_path ~ directory }}/images/footer-graphic_2x.png 2x" alt="footer-graphic.png" width="234" height="350" class="bg-image">
    <div class="container-full position-relative">
        <div class="layout-row layout-wrap {{ attributes.class }}"{{ attributes|without('role', 'aria-labelledby') }}>
            {{ title_suffix }}
            <div class="ncc-col-12 ncc-col-gt-md-5">
                <div class="address">
                    <h6 class="ncc-title-2">{{ footer.address | raw }}</h6>
                    <p class="ncc-body-2">
                        <a href="tel:{{ footer.phone }}" class="tel">{{ footer.phone }}</a>
                        <br/>
                        <a href="mailto:{{ footer.email }}">{{ footer.email }}</a>
                    </p>
                    <ul class="list-inline">
                        {% for item in footer.social %}
                            <li>
                                <a href="{{ item.href }}" target="_blank">
                                    <svg class="ncc-icon">
                                    <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#{{ item.icon }}"></use>
                                    </svg>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="ncc-hidden ncc-show-gt-md ncc-col-3">
                <div>
                    <ul class="list-unstyled ncc-body-2 links">
                        {% for item in footer.linksGroup1 %}
                            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="ncc-hidden ncc-show-gt-md ncc-col-2">
                <div>
                    <ul class="list-unstyled ncc-body-2 links">
                        {% for item in footer.linksGroup2 %}
                            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="ncc-hidden ncc-show-gt-md ncc-col-2">
                <div>
                    <ul class="list-unstyled ncc-body-2 links">
                        {% for item in footer.linksGroup3 %}
                            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="ncc-col-12 ncc-col-gt-md-6 no-padding-bottom">
                <div class="bottom-left">
                    <p class="ncc-description no-margin-top">
                        {{ render_menu('footer-privacy') }}
                    </p>
                </div>
            </div>
            <div class="ncc-col-12 ncc-col-gt-md-6 no-padding-bottom">
                <div class="bottom-right">
                    <p class="ncc-description no-margin-top">
                      <a href="{{ footer.copyright.link }}">&copy; {{ footer.copyright.text }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
