{# form-elements.html.twig #}
{# demo template #}

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-12">
            <div>
                <button class="ncc-btn">Example Button</button>
                <button class="ncc-btn ncc-btn-storm">Example Button</button>
                <button class="ncc-btn ncc-btn-light-grey">Example Button</button>
                <button class="ncc-btn" disabled>Example Disabled Button</button>
            </div>
        </div>
    </div>
</div>

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-12">
            <div>
                <button class="ncc-btn ncc-btn-sm">Example Button</button>
                <button class="ncc-btn ncc-btn-sm ncc-btn-storm">Example Button</button>
                <button class="ncc-btn ncc-btn-sm ncc-btn-light-grey">Example Button</button>
                <button class="ncc-btn ncc-btn-sm" disabled>Example Disabled Button</button>
            </div>
        </div>
    </div>
</div>

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-6">
            <div>
                <a class="ncc-btn-tag">Graphic Arts</a>
                <a class="ncc-btn-tag">User Experience</a>
            </div>
        </div>
        <div class="ncc-col-6">
            <div>
                <a class="ncc-btn-tag toggle">Graphic Arts</a>
                <a class="ncc-btn-tag toggle">User Experience</a>
            </div>
        </div>
    </div>
</div>

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-6">
            <div>
                <div class="form-group">
                    <label for="email">Email<span class="fg-magneto">*</span></label>
                    <input id="email" class="full-width" type="email" placeholder="Email">
                    <div class="ncc-hint">Sample hint text goes here.</div>
                </div>
                <div class="form-group">
                    <label for="email">Email<span class="fg-magneto">*</span></label>
                    <input id="email" class="full-width" type="email" placeholder="Email Disabled" disabled>
                    <div class="ncc-hint">Sample hint text goes here.</div>
                </div>
            </div>
        </div>
        <div class="ncc-col-6">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="full-width" type="text" placeholder="Name">
                    <div class="ncc-hint warn">Sample error text goes here.</div>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="full-width" type="text" placeholder="Name Disabled" disabled>
                    <div class="ncc-hint warn">Sample error text goes here.</div>
                </div>
            </div>
        </div>
        <div class="ncc-col-6">
            <div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="full-width"></textarea>
                </div>
            </div>
        </div>
        <div class="ncc-col-6">
            <div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="full-width"></textarea>
                    <div class="ncc-hint">Sample hint text goes here.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-4">
            <div>
                <label>Checkboxes</label>
                <div>
                    <label class="ncc-body-1 control control--checkbox">First checkbox
                        <input type="checkbox" checked="checked"/>
                        <div class="control__indicator"></div>
                    </label>
                    <label class="ncc-body-1 control control--checkbox">Second checkbox
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                    </label>
                    <label class="ncc-body-1 control control--checkbox">Disabled
                        <input type="checkbox" disabled="disabled"/>
                        <div class="control__indicator"></div>
                    </label>
                    <label class="ncc-body-1 control control--checkbox">Disabled & checked
                        <input type="checkbox" disabled="disabled" checked="checked"/>
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="ncc-col-4">
            <div>
                <label>Radio buttons</label>
                <div>
                    <label class="ncc-body-1 control control--radio">First radio
                        <input type="radio" name="radio" checked="checked"/>
                        <div class="control__indicator"></div>
                    </label>
                    <label class="ncc-body-1 control control--radio">Second radio
                        <input type="radio" name="radio"/>
                        <div class="control__indicator"></div>
                    </label>
                    <label class="ncc-body-1 control control--radio">Disabled
                        <input type="radio" name="radio2" disabled="disabled"/>
                        <div class="control__indicator"></div>
                    </label>
                    <label class="ncc-body-1 control control--radio">Disabled & checked
                        <input type="radio" name="radio2" disabled="disabled" checked="checked"/>
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="ncc-col-4">
            <div>
                <label>Select boxes</label>
                <select>
                    <option value="f1">First select</option>
                    <option value="f1-o1">First select - Option 1</option>
                    <option value="f1-o2">First select - Option 2</option>
                </select>
                <select>
                    <option value="f2">Second select</option>
                    <option value="f2-o1">Second select - Option 1</option>
                    <option value="f2-o2">Second select - Option 2</option>
                </select>
                <select disabled="disabled">
                    <option value="f3">Disabled</option>
                    <option value="f3-o1">Disabled - Option 1</option>
                    <option value="f3-o2">Disabled - Option 2</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="ncc-spacer-sm"></div>

<div class="container-full">
    <details id="mailling-address" class="ncc-col-12 no-padding-bottom no-padding-left" open="open" >
        <summary>Date Picker</summary>
        <div class="layout-row layout-wrap">
            <div class="ncc-col-4">
                <div>
                    <label>Polyfill enabled</label>
                    <input type="date" name="start" required value="2016-01-01" placeholder="Date Start" />
                </div>
                
            </div>
            <div class="ncc-col-4">
                <div>
                    <label>Browser's rendered date field</label>
                    <input type="date" name="end" placeholder="Date end" min="2016-01-02" max="2017-01-01" />
                </div>
            </div>
            <div class="ncc-col-4">
                <div>
                    <label>Disabled date field</label>
                    <input type="date" disabled placeholder="I'm disabled" />
                </div>
            </div>
        </div>
    </details>
</div>

<div class="ncc-spacer-sm"></div>

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-12">
            <div id="field-register-mailling-address-ajax-wrapper">
                <details id="mailling-address" class="ncc-col-12 no-padding-bottom no-padding-left" open="open" >
                    <summary class="js-form-required form-required">
                        Mailling Address
                    </summary>
                    <div class="layout-row layout-wrap no-margin">
                        <input name="langcode" type="hidden" />
                        <div class="no-margin no-padding-bottom no-padding-left ncc-col-auto no-margin">
                            <div>
                                <label class="ncc-col-12 no-padding" for="address">
                                    Street address
                                </label>
                                <input id="address" class="address-line1 form-text required"  maxlength="128" name="address" required="required" size="60" type="text" value="" />
                            </div>
                        </div>
                        <div class="no-margin no-padding-bottom no-padding-left ncc-col-auto no-margin">
                            <div>
                                <label class="js-form-required form-required ncc-col-12 no-padding" for="locality">
                                    City
                                </label>
                                <input id="locality" class="required" maxlength="128" name="locality" required="required" size="30" type="text" value="" />
                            </div>
                        </div>
                        <div class="no-margin no-padding-bottom no-padding-left ncc-col-auto no-margin">
                            <div>
                                <label class="ncc-col-12 no-padding" for="postal-code">
                                    Postal code
                                </label>
                                <input maxlength="128" name="postal-code" id="postal-code" size="10" type="text" value="" />
                            </div>
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>

<div class="ncc-spacer-md"></div>
<div class="ncc-spacer-lg"></div>
<div class="ncc-spacer-lg"></div>
