{# gallery.html.twig #}
<div class="ncc-gallery-wrapper">
    <div class="ncc-gallery content clearfix">
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                {% for slide in gallery %}
                    <div class="swiper-slide ncc-col no-padding">
                        {{ slide.image }}
                        {% if slide.description %}
                            <div class="layout layout-align-center-end ncc-relative-content">
                                <div class="flex ncc-gallery-description fg-white collapsed">
                                    <p class="ncc-description no-margin inline-block">{{ slide.description }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next ncc-col layout-align-center-center swiper-button-white">
                <svg class="ncc-icon ncc-icon-open">
                <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-right-12"></use>
                </svg>
            </div>
            <div class="swiper-button-prev ncc-col layout-align-center-center swiper-button-white">
                <svg class="ncc-icon ncc-icon-open">
                <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-left-12"></use>
                </svg>
            </div>
        </div>
        <div class="swiper-pagination ncc-description fg-white"></div>
        <div class="swiper-container gallery-thumbs none">
            <div class="swiper-wrapper">
                {% for slide in gallery %}
                    <div class="swiper-slide">
                        {{ slide.thumbnail }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
