{# grid.html.twig #}
{# demo template #}

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-6">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-6</p>
            </div>
        </div>
        <div class="ncc-col-6">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-6</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-8">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-8</p>
            </div>
        </div>
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
        <div class="ncc-col-8">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-8</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-8">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-8</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-9">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-9</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
        <div class="ncc-col-9">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-9</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-12">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-12</p>
            </div>
        </div>
    </div>
</div>

<div class="container-semifull">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
        <div class="ncc-col-1">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-1</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-6">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-6</p>
            </div>
        </div>
        <div class="ncc-col-6">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-6</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-8">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-8</p>
            </div>
        </div>
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-4</p>
            </div>
        </div>
        <div class="ncc-col-8">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-8</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
        <div class="ncc-col-8">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-8</p>
            </div>
        </div>
        <div class="ncc-col-2">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-9">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-9</p>
            </div>
        </div>
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3</p>
            </div>
        </div>
        <div class="ncc-col-9">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-9</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-12">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-12</p>
            </div>
        </div>
    </div>
</div>

<div class="container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-xs-2 ncc-col-sm-3 ncc-col-md-4 ncc-col-lg-6">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-xs-2.ncc-col-sm-3.ncc-col-md-4.ncc-col-lg-6</p>
            </div>
        </div>
        <div class="ncc-col-auto">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-auto</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-8 ncc-col-xs-3">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-8.ncc-col-xs-3</p>
            </div>
        </div>
        <div class="ncc-col-auto">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-auto</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-3 ncc-col-md-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3.ncc-col-md-4</p>
            </div>
        </div>
        <div class="ncc-col-auto">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-auto</p>
            </div>
        </div>
        <div class="ncc-col-2 ncc-col-lg-4">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-2.ncc-col-lg-4</p>
            </div>
        </div>
    </div>

    <div class="layout-row layout-wrap">
        <div class="ncc-col-3 ncc-hidden-xs">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-3.ncc-hidden-xs</p>
            </div>
        </div>
        <div class="ncc-col-auto">
            <div class="demo-content">
                <p class="ncc-body-2">.ncc-col-auto</p>
            </div>
        </div>
    </div>
</div>

<div class="container-full">
    <h3 class="ncc-title-1">Notes:</h3>
    <h4 class="ncc-title-2">Breakpoints</h4>
    <ul class="ncc-body-2">
        <li>Extra Small <strong>(xs)</strong> Breakpoint: <strong>320-479px</strong> (we'll not support devices smaller than 320px)</li>
        <li>Small <strong>(sm)</strong> Breakpoint: <strong>480-767px</strong></li>
        <li>Medium <strong>(md)</strong> Breakpoint: <strong>768-1023px</strong></li>
        <li>Large <strong>(lg)</strong> Breakpoint: <strong>1024px+</strong></li>
    </ul>
    <h4 class="ncc-title-2">Column Classes</h4>
    <ul class="ncc-body-2">
        <li>In bottom examples <strong>N</strong> represent number of base columns. Range: 1-12.</li>
        <li><strong>.ncc-col-N</strong> - single column with specific width (will be same on all breakpoints)</li>
        <li><strong>.ncc-col-auto</strong> - column with auto. width (occupies the entire remaining space in one single row; also this will work only in single row)</li>
        <li><strong>.ncc-col-xs-N</strong> - single column apply only on extra small breakpoint <strong>320-479px</strong></li>
        <li><strong>.ncc-col-gt-xs-N</strong> - single column apply on greater than extra small breakpoints <strong>480px+</strong></li>
        <li><strong>.ncc-col-sm-N</strong> - single column apply only on small breakpoint <strong>480-767px</strong></li>
        <li><strong>.ncc-col-gt-sm-N</strong> - single column apply on greater than small breakpoints <strong>768px+</strong></li>
        <li><strong>.ncc-col-md-N</strong> - single column apply only on medium breakpoint <strong>768-1023px</strong></li>
        <li><strong>.ncc-col-gt-md-N</strong> - single column apply on greater than medium breakpoints <strong>1024px+</strong></li>
        <li><strong>.ncc-col-lg-N</strong> - single column apply only on large breakpoint <strong>1024px+</strong></li>
    </ul>
    <h4 class="ncc-title-2">Hide Elements</h4>
    <ul class="ncc-body-2">
        <li><strong>.ncc-hidden</strong> - hide element on all breakpoints</li>
        <li><strong>.ncc-hidden-xs</strong> - hide element only on extra small breakpoint</li>
        <li><strong>.ncc-hidden-gt-xs</strong> - hide element on greater than extra small breakpoint</li>
        <li><strong>.ncc-hidden-sm</strong> - hide element only on small breakpoint</li>
        <li><strong>.ncc-hidden-gt-sm</strong> - hide element on greater than small breakpoint</li>
        <li><strong>.ncc-hidden-md</strong> - hide element only on medium breakpoint</li>
        <li><strong>.ncc-hidden-gt-md</strong> - hide element on greater than medium breakpoint</li>
        <li><strong>.ncc-hidden-lg</strong> - hide element only on large breakpoint</li>
    </ul>
    <h4 class="ncc-title-2">Show Elements</h4>
    <ul class="ncc-body-2">
        <li><strong>.ncc-show</strong> - show element on all breakpoints</li>
        <li><strong>.ncc-show-xs</strong> - show element only on extra small breakpoint</li>
        <li><strong>.ncc-show-gt-xs</strong> - show element on greater than extra small breakpoint</li>
        <li><strong>.ncc-show-sm</strong> - show element only on small breakpoint</li>
        <li><strong>.ncc-show-gt-sm</strong> - show element on greater than small breakpoint</li>
        <li><strong>.ncc-show-md</strong> - show element only on medium breakpoint</li>
        <li><strong>.ncc-show-gt-md</strong> - show element on greater than medium breakpoint</li>
        <li><strong>.ncc-show-lg</strong> - show element only on large breakpoint</li>
    </ul>
</div>
