{# header-menu.html.twig #}

<div class="ncc-col-xs-2 ncc-col-1 ncc-col-gt-md-8 header-nav" id="header-nav">
    <nav class="ncc-col-12 no-padding {{ attributes.class }}"{{ attributes|without('role', 'aria-labelledby') }}>
        {{ title_suffix }}
        <a href="#" class="ncc-search-open fg-white float-right" id="ncc-search-open">
            <svg class="ncc-icon">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-search"></use>
            </svg>
        </a>
        <ul class="no-margin-bottom list-unstyled clearfix layout-row layout-wrap ncc-hidden ncc-show-gt-md">
            {% for item in navigation.header %}
                <li class="flex-auto"><a href="{{ item.href }}">{{ item.caption }}</a></li>
                {% endfor %}
        </ul>
    </nav>
</div>
