{# icons.html.twig #}
{# demo template #}
{# generated with $ gulp build-icons #}

<div class="container-full">
    <h3 class="ncc-title-1">Core icons</h3>
    <div class="layout-row layout-wrap">
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-account-circle-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-account-circle-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-account-find-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-account-find-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-add-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-add-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-airplane-departure"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-airplane-departure</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-align-center"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-align-center</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-align-justify"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-align-justify</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-align-left"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-align-left</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-align-right"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-align-right</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-all-caps"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-all-caps</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-apple-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-apple-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-32"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-arrow-32</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-down-12"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-arrow-down-12</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-left-12"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-arrow-left-12</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-left-7"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-arrow-left-7</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-right-12"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-arrow-right-12</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-right-7"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-arrow-right-7</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-up-12"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-arrow-up-12</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-badge-like-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-badge-like-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-ball-basketball"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-ball-basketball</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-ball-football"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-ball-football</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-ball-soccer"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-ball-soccer</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-ball-volleyball"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-ball-volleyball</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-balloon"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-balloon</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-bank-notes-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-bank-notes-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-baseball"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-baseball</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-bicycle-road"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-bicycle-road</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-bin-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-bin-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-bold"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-bold</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-book-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-book-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-bookmark-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-bookmark-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-bubble-chat-information-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-bubble-chat-information-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-bubble-chat-text-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-bubble-chat-text-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-bus-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-bus-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-business-man-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-business-man-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-button-power-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-button-power-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calculator-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-calculator-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-calendar-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-camera-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-camera-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-camera-symbol-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-camera-symbol-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-car-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-car-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-check-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-check-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-checklist"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-checklist</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-cheeseburger"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-cheeseburger</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-cheque"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-cheque</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-cloud-download"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-cloud-download</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-cloud-remove"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-cloud-remove</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-cloud-search"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-cloud-search</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-cloud-upload"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-cloud-upload</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-cloud"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-cloud</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-cog"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-cog</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-compass-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-compass-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-computer-notebook-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-computer-notebook-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-computer-screen-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-computer-screen-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-control-fast-forward"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-control-fast-forward</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-control-next"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-control-next</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-control-pause"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-control-pause</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-control-play"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-control-play</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-control-previous"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-control-previous</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-control-rewind"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-control-rewind</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-control-stop"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-control-stop</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-copy-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-copy-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-copy-paste"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-copy-paste</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-credit-card-amex"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-credit-card-amex</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-credit-card-master-card"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-credit-card-master-card</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-credit-card-visa"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-credit-card-visa</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-crosshair-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-crosshair-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-cursor-move-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-cursor-move-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-disable-sign"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-disable-sign</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-download-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-download-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-dumbbell-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-dumbbell-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-email-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-email-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-email-reply-all"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-email-reply-all</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-email-reply"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-email-reply</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-email-send-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-email-send-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-eraser"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-eraser</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-expand-diagonal-4"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-expand-diagonal-4</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-fast-forward-button"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-fast-forward-button</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-file-add-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-file-add-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-file-edit-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-file-edit-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-file-picture"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-file-picture</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-filter-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-filter-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-flag-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-flag-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-flip-down"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-flip-down</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-flip-up"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-flip-up</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-font-size"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-font-size</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-food-dome"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-food-dome</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-fork-knife"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-fork-knife</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-french-fries"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-french-fries</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-game-controller-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-game-controller-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-globe-pin"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-globe-pin</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-globe-search"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-globe-search</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-google"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-google</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-graph-bar-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-graph-bar-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-graph-pie-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-graph-pie-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-headphone-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-headphone-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-heart"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-heart</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-home-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-home-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-hotdog"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-hotdog</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-ice-cream-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-ice-cream-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-id-card-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-id-card-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-indent-decrease-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-indent-decrease-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-indent-increase-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-indent-increase-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-infomation-circle"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-infomation-circle</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-italic"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-italic</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-lady-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-lady-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-layout-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-layout-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-layout-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-layout-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-layout-4"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-layout-4</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-layout-5"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-layout-5</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-layout-none"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-layout-none</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-line-spacing"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-line-spacing</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-link-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-link-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-linkedin"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-linkedin</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-list-bullets-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-list-bullets-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-list-number"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-list-number</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-location-pin-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-location-pin-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-location-pin-information-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-location-pin-information-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-lock-close-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-lock-close-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-logo-circle-facebook"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-logo-circle-facebook</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-logo-circle-instagram"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-logo-circle-instagram</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-logo-circle-twitter-bird"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-logo-circle-twitter-bird</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-logo-circle-youtube-clip"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-logo-circle-youtube-clip</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-logo-facebook"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-logo-facebook</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-logo-instagram"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-logo-instagram</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-logo-pinterest"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-logo-pinterest</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-logo-twitter-bird"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-logo-twitter-bird</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-map-direction"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-map-direction</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-medical-box"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-medical-box</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-microphone-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-microphone-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-microphone-off"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-microphone-off</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-move-to-back"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-move-to-back</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-move-to-front"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-move-to-front</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-navigation-drawer-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-navigation-drawer-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-navigation-show-more-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-navigation-show-more-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-new-document"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-new-document</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-newspaper"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-newspaper</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-next-button"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-next-button</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-paint-brush-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-paint-brush-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-paint-palette"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-paint-palette</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-paragraph-spacing"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-paragraph-spacing</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-paragraph"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-paragraph</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-party-popper"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-party-popper</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-pause-button"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-pause-button</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-percent-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-percent-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-phone-5"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-phone-5</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-photos-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-photos-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-picture-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-picture-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-pizza"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-pizza</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-play-button"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-play-button</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-playlist-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-playlist-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-popcorn"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-popcorn</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-previous-button"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-previous-button</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-print-text"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-print-text</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-quote-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-quote-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-quote-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-quote-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-record-button"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-record-button</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-redo"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-redo</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-reflect-left"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-reflect-left</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-reflect-right"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-reflect-right</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-remove-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-remove-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-report-problem-triangle"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-report-problem-triangle</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-rewind-button"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-rewind-button</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-rotate-left"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-rotate-left</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-rotate-right"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-rotate-right</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-rss-feed-box"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-rss-feed-box</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-scale-horizontal"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-scale-horizontal</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-scale-vertical"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-scale-vertical</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-scissors-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-scissors-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-search"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-search</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-share"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-share</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-shopping-cart-4"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-shopping-cart-4</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-shrink-diagonal-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-shrink-diagonal-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-small-caps"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-small-caps</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-smartphone-iphone"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-smartphone-iphone</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-smiley-frown-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-smiley-frown-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-smiley-smile-4"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-smiley-smile-4</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-smoke-free-area"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-smoke-free-area</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-smoking-area"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-smoking-area</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-sopt-button"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-sopt-button</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-spelling-check-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-spelling-check-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-strikethrough-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-strikethrough-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-swipe-horizontal"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-swipe-horizontal</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-swipe-vertical"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-swipe-vertical</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-tap-swipe-horizontal"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-tap-swipe-horizontal</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-tap-swipe-vertical"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-tap-swipe-vertical</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-tennis"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-tennis</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-text"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-text</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-thumbs-down-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-thumbs-down-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-thumbs-up-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-thumbs-up-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-ticket-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-ticket-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-train-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-train-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-travel-bag-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-travel-bag-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-underline"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-underline</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-undo"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-undo</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-upload-3"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-upload-3</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-video-camera"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-video-camera</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-view-column"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-view-column</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-view-list"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-view-list</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-view-module-2"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-view-module-2</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-volume-down-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-volume-down-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-volume-low-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-volume-low-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-volume-max-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-volume-max-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-volume-medium-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-volume-medium-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-volume-off-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-volume-off-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-volume-up-1"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-volume-up-1</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-zoom-in"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-zoom-in</p>
      </div>
      <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
        <svg class="ncc-icon">
          <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-zoom-out"></use>
        </svg>
        <p class="ncc-body-2 text-center">.icon-zoom-out</p>
      </div>
    </div>
</div>

<div class="container-full">
    <h3 class="ncc-title-1">Icon Sizes</h3>
    <div class="layout-row layout-wrap">
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon s16">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.s16</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon s24">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.s24 (default icon size)</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon s32">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.s32</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon s40">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.s40</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon s48">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.s48</p>
        </div>
    </div>
</div>

<div class="container-full">
    <h3 class="ncc-title-1">Icon Colors</h3>
    <p class="ncc-body-2">We can use foreground color classes with icons (<span class="fg-magneto">.fg-magneto</span>, <span class="fg-storm">.fg-storm</span>, <span class="fg-mystique">.fg-mystique</span>, <span class="fg-rogue">.fg-rogue</span>, ...).</p>
    <div class="layout-row layout-wrap">
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon fg-magneto">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.fg-magneto</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon fg-storm">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.fg-storm</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon fg-mystique">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.fg-mystique</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon fg-rogue">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.fg-rogue</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon fg-wolverine">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.fg-wolverine</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon fg-grey">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.fg-grey</p>
        </div>
        <div class="ncc-col-3 ncc-col-gt-md-2 icon-wrapper-demo">
            <svg class="ncc-icon fg-black">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-calendar-2"></use>
            </svg>
            <p class="ncc-body-2 text-center">.icon-calendar-2.fg-black</p>
        </div>
    </div>
</div>

