{# intro.html.twig #}

{%
    set classes = [
        intro.cta|render|trim  ? 'ncc-col-gt-sm-9' : ''
    ]
%}

<div class="layout-row layout-wrap ncc-intro-teaser">
    <div class="ncc-col-12 {{ classes | join(' ') }}">
        <hr class="default-margin bg-wolverine s2 short">
        {% if intro.label %}
        <p class="ncc-label no-margin">{{ intro.label }}</p>
        {% endif %}
        <h3 class="ncc-display-3 no-margin-bottom">{{ intro.title }}</h3>
        {% if intro.description %}
        <div class="desc-wrapper">{{ intro.description | raw }}</div>
        {% endif %}
    </div>
    {% if intro.cta|render|trim  %}
    <div class="ncc-col-12 ncc-col-gt-sm-3">
        <div class="layout layout-align-start">
            <div>
                {{ intro.cta }}
            </div>
        </div>
    </div>
    {% endif %}
</div>
