{# listing-block.html.twig #}
<div class="ncc-listing-block layout-row layout-wrap">
    {#Use normal list format if not of the blog type#}
    {% if (listingBlock.typeData) and (not listingBlock.type == 'blog') %}
        <div class="ncc-col-2 ncc-col-gt-sm-1">
            <div class="left-content {{ listingBlock.type }}">
                {% if listingBlock.type == 'thumbnail' %}
                    {{ listingBlock.typeData | raw }}
                {% endif %}

                {% if listingBlock.type == 'event' %}
                    <div class="square-wrapper bg-magneto">
                        <span class="square-content">{{ listingBlock.typeData }}</span>
                    </div>
                {% endif %}

                {% if listingBlock.type == 'video' or listingBlock.type == 'gallery' %}
                    <div class="square-wrapper
                         {% if listingBlock.type == 'video' %}bg-storm{% endif %}
                         {% if listingBlock.type == 'gallery' %}bg-wolverine{% endif %}">
                        <svg class="ncc-icon square-content">
                        <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#{{ listingBlock.typeData }}"></use>
                        </svg>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {#Use a different format if blog type and only if there is an image for the header#}
    {% if (listingBlock.type == 'blog') and (listingBlock.typeData) %}
    <div class="ncc-blog-full">
        <div class="position-relative embed-wrapper">
            <div class="content ncc-image">
                {{ listingBlock.typeData }}
            </div>
        </div>
    </div>
    {% endif %}  

    <div class="{% if listingBlock.typeData %}ncc-col-10 ncc-col-gt-sm-11{% endif %}
         {% if (not listingBlock.typeData) or (listingBlock.type == 'blog') %}ncc-col-12{% endif %}">
         {#Right align content if not blog type#}
        <div class="{% if listingBlock.type == 'blog' %}{% endif %}{% if not listingBlock.type == 'blog' %}right-content{% endif %}">
            {% if listingBlock.date %}
                <h4 class="ncc-label">{{ listingBlock.date }}</h4>
            {% endif %}
            {#Use a larger heading for blog type #}
            {% if listingBlock.type == 'blog' %}
                <h2 class="ncc-display-3">
            {% else %}
                <h2 class="ncc-title-2">
            {% endif %}
                <a href="{{ listingBlock.titleHref }}">{{ listingBlock.title }}</a>
            </h2>
            <p class="ncc-body-1">{{ listingBlock.content  }}</p>
            {#Display the read more button#}
            {% if listingBlock.type == 'blog' %}
                <div class="ncc-body-2">
                    <a href="{{listingBlock.link}}">{{'Read more'|t }}</a>
                </div>
                <div class="ncc-spacer-sm"></div>
            {% endif %}
	   
            {#If the type is blog, do not display type#}
            {% if not listingBlock.type == 'blog' %}
                <p>{{ content.field_page_summary }}</p>
                <div class="content-type">{{ listingBlock.contentType }}</div>
            {% endif %}
        </div>
    </div>
</div>
