{# main-menu.html.twig #}

<div class="main-nav-wrapper clearfix ncc-hidden ncc-show-gt-md" id="main-nav-wrapper">
    <div class="container-full">
        <div class="layout-row layout-wrap position-static {{ attributes.class }}"{{ attributes|without('role', 'aria-labelledby') }}>
            {{ title_suffix }}
            <div class="ncc-col-1 ncc-logo-sticky ncc-sticky-side fg-white no-padding-bottom">
                <a href="{{ navigation.homeUrl }}" class="text-center block">
                    <img class="img-responsive flex-nogrow" src="{{ base_path ~ directory }}/images/ncc-logo-sticky.png" alt="{{ siteTitle }}, Naperville, Illinois">
                </a>
            </div>
            <nav class="main-nav ncc-col-12 no-padding" id="main-nav">
                <ul class="main-nav-inner list-unstyled layout-row layout-wrap no-padding-left no-margin clearfix" id="main-nav-inner">
                    {% for key, item in navigation.main %}
                        <li class="flex-auto {{ item.class }} {{ (item.children | length) ? 'is-parent' : '' }}">
                            <a href="{{ item.href }}" class="block ncc-fw-200">{{ item.caption }}</a>
                            {% if item.children | length %}
                                <span class="ncc-menu-children none position-absolute top-0 right-0">
                                    <svg class="ncc-icon">
                                    <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-down-12"></use>
                                    </svg>
                                </span>
                                <div class="ncc-submenu  position-absolute left-0 right-0 bg-white">
                                    <ul class="ncc-submenu-items list-unstyled">
                                        {% for subitem in item.children %}
                                            <li class="no-padding-bottom text-left {{ subitem.class }}">
                                                <a href="{{ subitem.href }}" class="block ncc-body-2 ncc-fw-200">
                                                    <span class="container-full block">
                                                        <span class="text-inner">{{ subitem.caption }}</span>
                                                    </span>
                                                </a>
                                                {{ nccMacros.recursiveMenuItems(subitem) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {% for item in navigation.header %}
                        <li class="flex-auto ncc-hidden ncc-hidden ncc-show-sm ncc-show-md">
                            <a href="{{ item.href }}" class="block ncc-fw-200">{{ item.caption }}</a>
                        </li>
                    {% endfor %}
                    <li class="flex-auto ncc-hidden-gt-xs">
                        <a href="#" id="important-links" class="block ncc-fw-200">Important Links</a>
                        <span class="ncc-menu-children none position-absolute top-0 right-0">
                            <svg class="ncc-icon">
                            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-down-12"></use>
                            </svg>
                        </span>
                        <div class="ncc-submenu position-absolute left-0 right-0 bg-white">
                            <ul class="ncc-submenu-items list-unstyled">
                                {% for item in navigation.header %}
                                    <li class="no-padding-bottom text-left {{ item.class }}">
                                        <a href="{{ item.href }}" class="block ncc-body-2 ncc-fw-200">
                                            <span class="container-full block">
                                                <span class="text-inner">{{ item.caption }}</span>
                                            </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="ncc-col-1 ncc-sticky-side navigation-wrapper no-padding-bottom">
                <a href="#" class="ncc-search-open fg-white float-right" id="ncc-search-open-sticky">
                    <svg class="ncc-icon">
                    <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-search"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
