{# modal-and-cards.html.twig #}

{# Important Note: This component is used only for demo purposes. Layout is fully adjustable. #}

<div class="container-full">
    {{modalAndCards.stack}}
</div>

{# Video Modal Content Begin #}
{% set modal = modalAndCards.videoModal %}
{% set iframe = '<iframe src="'~ modal.embed.url ~'?'~ modal.embed.query ~'" class="'~ modal.embed.provider ~'" frameborder="0" allowfullscreen></iframe>' %}
{% set modal = modal|merge({'content': iframe}) %}
{% include '../modal/modal.html.twig' %}
{# Video Modal Content End #}

{# Gallery Modal Content Begin #}
{% set modal = modalAndCards.galleryModal %}
{% set gallery = modalAndCards.galleryModal.slides %}
{% set gal %}
    {% include '../gallery/gallery.html.twig'  %}
{% endset %}
{% set modal = modal|merge({'content': gal}) %}
{% include '../modal/modal.html.twig' %}
{# Gallery Modal Content End #}
