{# modal.html.twig #}

{% set type = '' %}
{% if 'video' == modal.type %}
    {% set type = ' ncc-modal-video' %}
{% elseif 'gallery' == modal.type %}
    {% set type = ' ncc-modal-gallery' %}
{% elseif 'form' == modal.type %}
    {% set type = ' ncc-modal-form' %}
{% endif %}

<div class="container-full ncc-modal ncc-modal{{ type }}" id="{{modal.id}}">
    <div class="ncc-dialog-actions text-right">
        <button type="button" class="close no-border">
            <svg class="ncc-icon s16">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-remove-1"></use>
            </svg>
        </button>
    </div>
    <div class="ncc-modal-content">
        {{ modal.content }}
    </div>
</div>
