{# navigation.twig #}

<div class="ncc-navigation-overlay position-absolute left-0 top-0 right-0 bottom-0 none" id="ncc-navigation-overlay"></div>
{#
  .ncc-navigation ( available extra classes ):
  1. ncc-subsite-active -> When user is on landing page, adding this class wll show .ncc-subsite-menu element, and show notification about name of subsite ( you should add subsite link to <a> tag here)
  2. ncc-navigation-sticky -> When we want to use sticky navigation on large viewpoints ( >= 1024px ). On smaller viewpoints, the navigation is sticky by default and will be revealed when scrolling up
#}

{%
    set classes = [
        'ncc-navigation',
        'position-relative',
        'bg-magneto',
        navigation.subsite ? 'ncc-subsite-active' : ''
    ]
%}

<div class="ncc-navigation-placeholder">
    <div class="{{ classes | join(' ') }}" id="ncc-navigation">
        {% if alert %}
            {% include '@ncc/partials/ncc-alert.html.twig' %}
        {% endif %}
        <div class="ncc-subsite-menu bg-storm clearfix">
            <div class="container-full none">
                <div class="layout-row layout-wrap">
                    <div class="flex no-padding-bottom">
                        <a href="{{ navigation.homeUrl }}" class="fg-white">{{ siteTitle }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ncc-nav-inner-wrapper position-relative">
            <div class="container-full navigation-wrapper">
                <div class="layout-row layout-wrap">
                    <div class="mobile-menu no-padding ncc-col-xs-2 ncc-col-1 ncc-hidden ncc-show-xs ncc-show-sm ncc-show-md">
                        <div class="ncc-col-12 no-padding">
                                <a href="#" class="ncc-mobile-menu no-padding fg-white layout layout-align-center-center" id="ncc-mobile-menu">
                                    <svg class="ncc-icon ncc-icon-open">
                                    <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-navigation-drawer-1"></use>
                                    </svg>
                                    <svg class="ncc-icon ncc-icon-back">
                                    <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-left-12"></use>
                                    </svg>
                                    <svg class="ncc-icon ncc-icon-close">
                                    <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-remove-1"></use>
                                    </svg>
                                </a>
                        </div>
                    </div>
                    <div class="ncc-col-xs-8 ncc-col-10 ncc-col-gt-md-4 layout-align-center-center ncc-logo no-padding-bottom">
                        <a href="{{ navigation.homeUrl }}" class="text-center flex-nogrow block">
                            <img class="img-responsive ncc-hidden ncc-show-gt-md" src="{{ base_path ~ directory }}/images/header-logo.png" alt="{{ siteTitle }}, Naperville, Illinois">
                            <img class="ncc-hidden-gt-md" src="{{ base_path ~ directory }}/images/mobile-header-logo.png" alt="{{ siteTitle }}, Naperville, Illinois">
                        </a>
                    </div>
                    {% for block in topHeader %}
                        {{ block }}
                    {% endfor %}
                </div>
            </div>
            {% for block in mainHeader %}
                {{ block }}
            {% endfor %}
        </div>
    </div>
</div>
