<table class="tablefield">
    {% for row in rows %}
        {% if loop.first %}
            <thead>
                <tr>
                    {% for cell in row %}
                        <th>{{ cell }}</th>
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}
        {% if loop.index == 1 %}
            <tbody>
        {% endif %}

        {% if not loop.first %}
            <tr>
                {% for cell in row %}
                    <td data-th="{{ rows[0][loop.index0] }}">{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endif %}

        {% if loop.last %}
            </tbody>
        {% endif %}
    {% endfor %}
</table>
