{# ncc-image.html.twig #}

{%
  set classes = [
      image.additionalBottomSpacing ? 'ncc-additional-bottom-spacing' : '',
      image.additionalTopSpacing ? 'ncc-additional-top-spacing' : ''
  ]
%}

{#
  Clarification:

  `.ncc-additional-bottom-spacing` - Element is above the stack with top negative margin.
  `.ncc-additional-top-spacing` - Element is below the stack with bottom negative margin.

  And this classes will work only for `full-width` type.
#}

{% if image.type == 'full-width' %}
    {% if image.parallax %}
        <div class="ncc-image parallax {{ attributes.class }} {{ classes|join(' ') }}" style="background-image: url('{{ image.url }}');">
        </div>
    {% else %}
        <div class="ncc-image {{ attributes.class }} {{ classes|join(' ') }}">
            <img class="img-responsive img-full-width"{{ image_attributes }}>
        </div>
    {% endif %}
{% elseif image.type == 'content-width' %}
    <div class="{{ attributes.class }}">
        <img class="img-responsive img-full-width"{{ image_attributes }}>
        {% if image.description %}
            <p class="ncc-description">{{ image.description }}</p>
        {% endif %}
    </div>
{% endif %}
