{# profile.html.twig #}

{%
    set classes = [
        'ncc-profile',
        profile.photo ? 'photo' : 'no-photo'
    ]
%}
<div class="{{ classes | join(' ') }}">
    <div class="card-content">
         {% if profile.photo %}
            {{ profile.photo }}
        {% else %}
        <div class="background-text">{{ profile.name }}</div>
        {% endif %}
        <div class="wrapper">
            <div class="name">{{ profile.name }}</div>
            <hr class="bg-wolverine" />
            <div class="title">{{ profile.title }}</div>
        </div>
    </div>
    <a href="{{ profile.url }}" class="card-details">
        <div>
            {% if profile.faculty %}
            <div class="ncc-btn-tag">{{ profile.faculty }}</div>
            {% endif %}
            <div class="contact">
                {% if profile.address and profile.show_location %}
                <div>{{ profile.address }}</div>
                {% endif %}
                {% if profile.phone %}
                <div>{{ profile.phone }}</div>
                {% endif %}
                {% if profile.email %}
                <div class="email">{{ profile.email }}</div>
                {% endif %}
            </div>
        </div>
    </a>
</div>
