{# alert.html.twig #}

<div id="ncc-alert" class="position-relative clearfix {{ alert.class }}" data-node="node-{{alert.nodeID}}">
    <button id="ncc-alert-close-btn" class="position-absolute top-0 right-0">
        <svg class="ncc-icon">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-remove-1"></use>
        </svg>
    </button>
    <div class="container-full">
        <div class="ncc-col-12">
            <p class="ncc-label no-margin fg-white" id="ncc-alert-type">{{ alert.type }}</p>
            <div id="ncc-alert-content">
                <h3 class="ncc-display-3 no-margin fg-white">{{ alert.title }}</h3>
                <div class="ncc-alert-description no-margin-top fg-white">{{ alert.description | raw }}</div>
                {% if alert.cta %}
                    <div>
                        {{ alert.cta }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
