{# profile-footer.html.twig #}

{% if profileFooter|length %}

    {% set columns = ((profileFooter|length) / 2) | round %}

    <div class="ncc-profile-footer no-margin">
        <div class="container-full clearfix">
            <div class="layout-row layout-wrap">
                <div class="ncc-col-12 ncc-col-gt-xs-6">
                    <div>
                        {% for col in profileFooter|slice(0, columns) %}
                            <div class="profile-block">
                                <p class="ncc-introduction no-margin-bottom">{{col.title}}</p>
                                <hr class="default-margin bg-wolverine s2">
                                {% if col.raw %}
                                    <div class="ncc-profile-education">{{col.items}}</div>
                                {% else %}
                                    {% for item in col.items %}
                                      <p class="no-margin">{{ item }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ncc-col-12 ncc-col-gt-xs-6">
                    <div>
                        {% for col in profileFooter|slice(columns) %}
                            <div class="profile-block">
                                <p class="ncc-introduction no-margin-bottom">{{col.title}}</p>
                                <hr class="default-margin bg-wolverine s2">
                                {% if col.raw %}
                                    <div class="ncc-profile-education">{{col.items}}</div>
                                {% else %}
                                    {% for item in col.items %}
                                        <p class="no-margin">{{ item }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
