{# quote.html.twig #}

<blockquote>
    <p>{{ quote.text }}</p>
    {% if quote.author %}
        <footer class="ncc-label">
            <cite>{{ quote.author }}</cite>
        </footer>
    {% endif %}
</blockquote>
