{# rich-text.html.twig #}

{%
set classes = [
'container-full',
'ncc-rich-text'
]
%}

{%
set text_col = richText.text_position_middle ? 8 : 10
%}

<div class="{{ classes|join(' ') }}">
    <div class="layout-row layout-wrap">
        {% if richText.text_position_middle or not richText.text_position_middle and richText.stack_highlight_align == 'align-left' %}
            <div class="ncc-col-2 ncc-hidden-xs ncc-hidden-sm"></div>
        {% endif %}
        <div class="ncc-col-12 ncc-col-gt-sm-{{text_col}}">
            <div>
                {% if richText.stack_highlight %}
                    <div class="ncc-stack-wrapper {{richText.stack_highlight_align}}">
                        {{richText.stack_highlight}}
                    </div>
                {% endif %}
                <div class="text-wrapper">
                    {{richText.cb_content_text}}
                </div>
            </div>
        </div>
        {% if richText.text_position_middle or not richText.text_position_middle and richText.stack_highlight_align == 'align-right' %}
            <div class="ncc-col-2 ncc-hidden-xs ncc-hidden-sm"></div>
        {% endif %}
    </div>
</div>
