{# search-filter.html.twig #}

<div class="ncc-search-filter container-full">
    <div class="layout-row layout-wrap">
        <div class="ncc-col-12 ncc-col-gt-sm-9">
            <div>
                {{ form }}
                {{ filters }}
            </div>
        </div>
        <div class="ncc-hidden ncc-show-gt-sm ncc-col-3">
            <div class="ncc-matches-wrapper">
                <div class="ncc-matches {{ matches > 0 ? 'has-matches' : '' }}">
                    <div class="inner-wrapper">
                        <div class="number">{{ matches }}</div>
                        <div class="label">MATCHES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
