{# search.html.twig #}

<div class="hidden search-area position-absolute left-0 right-0 top-0 bottom-0" id="search-area">
    <div class="container-full">
        <div class="layout-row layout-wrap">
            <div class="ncc-col-11 no-padding-bottom">
                <input type="text" name="search" placeholder="search" class="no-border" id="ncc-search" />
            </div>
            <div class="ncc-col-1 no-padding-bottom">
                <div class="layout layout-align-end-center">
                    <a href="#" class="ncc-search-close flex text-right fg-white" id="ncc-search-close">
                        <svg class="ncc-icon">
                        <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-remove-1"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ncc-live-search img-full-width position-absolute left-0 hidden" id="ncc-live-search">
        <div class="ncc-live-search-content">
            <div class="container-full">
                <div class="layout-row layout-wrap" id="ncc-live-search-results">
                    {# <div class="ncc-search-spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div> #}
                    {# {% for key, listingBlock in searchResults %}
                        <div class="ncc-col-12 ncc-col-gt-sm-6 no-padding-bottom {{key >= 3 ? 'ncc-hidden ncc-show-gt-sm' : ''}}">
                            {% include '../../listing-block/listing-block.html.twig' %}
                        </div>
                    {% endfor %} #}
                </div>
            </div>
        </div>
        <a href="/search?keys=input#ncc-search.value" class="ncc-search-all img-full-width inline-block bg-magneto fg-white text-center text-uppercase" id="ncc-search-all">View full results</a>
    </div>
</div>
