{# sharing.html.twig #}

<div class="ncc-sharing-box position-fixed left-0 active">
    <div class="layout-row layout-wrap no-margin no-padding">

        {% for network in socialNetworks %}
            <a href="{{ network.href ? network.href : '' }}" class="ssk flex-auto {{ network.class }} fg-white text-center" title="{{ network.title }}">
                <svg class="ncc-icon s16">
                <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#{{ network.icon }}"></use>
                </svg>
            </a>
        {% endfor %}
    </div>
</div>
