{# sharing-global.html.twig #}

<div class="ncc-sharing-box position-fixed left-0 active">
    <div class="layout-row layout-wrap no-margin no-padding">

      
            <a href="{{ network.href ? network.href : '' }}" class="ssk flex-auto ssk-twitter fg-white text-center" title="Twitter">
                <svg class="ncc-icon s16">
                <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-logo-twitter-bird"></use>
                </svg>
            </a>

            <a href="{{ network.href ? network.href : '' }}" class="ssk flex-auto ssk-facebook fg-white text-center" title="Facebook">
                <svg class="ncc-icon s16">
                <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-logo-facebook"></use>
                </svg>
            </a>


            <a href="{{ network.href ? network.href : '' }}" class="ssk flex-auto ssk-email fg-white text-center" title="Email">
                <svg class="ncc-icon s16">
                <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-email-2"></use>
                </svg>
            </a>

    </div>
</div>

