{# slider.html.twig #}

<div class="ncc-slider clearfix position-relative">
    <div class="ncc-slider-wrapper">
        <ul class="content layout-row layout-wrap no-margin no-padding overflow-hidden">
            {% for slide in slider %}
                <li class="layout layout-align-end no-padding img-cover" data-index="{{ loop.index0 }}">
                    <div class="ncc-slider-bg position-absolute top-0 left-0">
                        {{ slide.image }}
                    </div>
                    <div class="ncc-slider-content position-relative flex-nogrow">
                        {% if slide.tag %}
                            <div class="ncc-slider-tags position-absolute">
                                <span class="ncc-btn-tag bg-wolverine fg-storm">{{ slide.tag.title }}</span>
                            </div>
                        {% endif %}
                        <h3 class="ncc-title-1 fg-white">
                            {% if slide.tag %}
                                <a href="{{ slide.tag.url }}">{{ slide.description }}</a>
                            {% else %}
                                {{ slide.description }}
                            {% endif %}
                        </h3>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="ncc-slider-pagination text-right">
        <span class="ncc-slider-next none float-right">
            <svg class="ncc-icon">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-right-7"></use>
            </svg>
        </span>
        <div class="ncc-slider-indicators float-right">
            {% for slide in slider %}
                <span data-index="{{ loop.index0 }}" class="inline-block"></span>
            {% endfor %}
        </div>
        <span class="ncc-slider-prev none float-right">
            <svg class="ncc-icon">
            <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-left-7"></use>
            </svg>
        </span>
    </div>
</div>
