{# smart-teaser.html.twig #}

{% set cols = 12 / ( smartTeasersLength ? smartTeasersLength : 1) %}
{% set single = (cols == 12) ? '12' : '6' %}
{% set multiple = (cols == 12) ? '6' : '12' %}

{% set isModal = ( smartTeaser.type == 'video' or smartTeaser.type == 'gallery') %}

<div class="ncc-smart-teaser ncc-col-12 ncc-col-gt-xs-{{ cols }} ncc-col-sm-{{ single }} ncc-col-md-12 ncc-col-gt-md-{{ cols }}">
    <div>
        <div class="layout-row layout-wrap">
            <div class="ncc-smart-teaser-col-1 ncc-col-12 ncc-col-gt-xs-{{ multiple }} ncc-col-md-6">
                {% if smartTeaser.type is defined %}
                    <div class="position-relative embed-wrapper">
                        <div class="content ncc-{{smartTeaser.type}} {{ isModal ? 'ncc-modal-btn' : '' }}" {% if isModal %} data-target="{{smartTeaser.modal.id}}" {% endif %}>
                            {{ smartTeaser.media }}
                            {% if smartTeaser.type == 'video' %}
                                <a class="position-absolute fg-white text-center ncc-teaser-btn"  href="{{ smartTeaser.imageUrl }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><g fill="currentColor"><path d="M29 10H3c-1.654 0-3 1.347-3 3v22c0 1.655 1.346 3 3 3h26c1.654 0 3-1.345 3-3V13c0-1.654-1.346-3-3-3zM47.526 12.15a1.003 1.003 0 0 0-.973-.044l-12 6A1 1 0 0 0 34 19v10c0 .38.214.726.553.895l12 6a1.006 1.006 0 0 0 .973-.043c.294-.183.474-.505.474-.85V13a1 1 0 0 0-.474-.852z"/></g></svg>
                                </a>
                            {% elseif smartTeaser.type == 'gallery' %}
                                <a class="position-absolute fg-white text-center ncc-teaser-btn" href="{{ smartTeaser.imageUrl }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><g fill="currentColor"><path d="M41.13 13.768l-1.13-.13V40H11.733l-.483 3.174 31.93 2.913 2.907-31.868z"/><path d="M38 32H2v6h36zM14.143 20.485c.167-.277.457-.457.78-.483.327-.02.638.108.845.356l3.98 4.777 4.34-9.55a1.02 1.02 0 0 1 .935-.585c.4.01.757.257.906.63L31.675 30H38V2H2v28h6.434l5.71-9.515zM12 8c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4z"/></g></svg>
                                </a>
                            {% endif %}
                        </div>
                        {% if isModal %}
                            {% set vars = {'modal': smartTeaser.modal, 'base_path': base_path, 'directory': directory} %}
                            {% include '@ncc/partials/modal.html.twig' with vars only %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="ncc-smart-teaser-col-2 ncc-col-12 ncc-col-gt-xs-{{ multiple }} ncc-col-md-6">
                <div>
                    <h4 class="ncc-display-4">{{ smartTeaser.title }}</h4>
                    <div class="desc-wrapper">{{ smartTeaser.description | raw }}</div>
                    {% if smartTeaser.cta is defined %}
                        <div>
                            {{ smartTeaser.cta }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
