{# tabs.html.twig #}

{% if tabs|length %}

    <div class="ncc-tabs position-relative overflow-hidden img-responsive">
        <nav class="position-relative container-full">
            <div class="ncc-tabs-wrapper">
                <ul class="layout-row layout-wrap position-relative list-unstyled no-padding">

                    {% for tab in tabs %}

                        <li class="position-relative no-margin text-center flex-auto" data-id="#{{tab.id}}">
                            <a href="#{{ tab.id }}" class="position-relative block overflow-hidden">
                                {% if tab.icon %}
                                    <svg class="ncc-icon s24">
                                    <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#{{ tab.icon }}"></use>
                                    </svg>
                                {% endif %}
                                <div class="clear ncc-hidden-gt-sm"></div>
                                <span class="ncc-label text-uppercase {{ tab.icon ? '': 'no-icon' }}">{{ tab.label }}</span>
                            </a>
                        </li>

                    {% endfor %}

                    <div class="animation position-absolute bg-magneto"></div>
                </ul>
            </div>
            <a href="#" class="tabs-navigation position-absolute ncc-col layout-align-center-center right-0 top-0 fg-white none">
                <svg class="ncc-icon" stroke="white" stroke-width="2">
                <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-arrow-right-12"></use>
                </svg>
            </a>
        </nav>
        <div class="content-wrap position-relative">

            {% for tab in tabs %}

                <section id="{{ tab.id }}" class="none">

                    {% if tab.highlight is defined %}
                        <div class="container-full {{ tab.highlight ? 'ncc-rich-text' : '' }}">
                    {% endif %}

                    {% if tab.highlight is defined and tab.highlight %}

                        <div class="layout-row layout-wrap">
                            <div class="ncc-col-12 ncc-col-gt-sm-10">
                                <div>
                                    <div class="ncc-stack-wrapper align-right">
                                        {{ tab.highlight }}
                                    </div>
                                    <div class="text-wrapper">
                    {% endif %}

                    {{ tab.content }}

                    {% if tab.highlight is defined and tab.highlight %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if tab.highlight is defined %}
                        </div>
                    {% endif %}

                </section>

            {% endfor %}

        </div>
    </div>


{% endif %}
