{# tray.html.twig #}

<div class="ncc-tray">
    <div class="ncc-tray-content-wrapper">
        <div id="ncc-tray-content">
            {# content will be loaded by `rel' attribute (ID of content) on `.ncc-open-tray` element #}
        </div>
    </div>
    <button id="ncc-tray-close-btn">
        <svg class="ncc-icon">
        <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-remove-1"></use>
        </svg>
    </button>
</div>

{# by default Filter Button will be hidden #}
{% set showFilterButton = tray.showFilterButton ? tray.showFilterButton : false %}

{% if showFilterButton %}
    <button id="ncc-tray-open-btn">
        <svg class="ncc-icon">
        <use xlink:href="{{ base_path ~ directory }}/icons/core-icons.svg#icon-filter-2"></use>
        </svg>
        <span class="ncc-description text-uppercase">Filter</span>
    </button>
{% endif %}
