{# tray-content.html.twig #}

<div id="{{trayContent.id}}" class="ncc-tray-content-hidden">
    {% if trayContent.type == 'tray-profile' %}
        <div class="ncc-profile-story">
            {% if trayContent.image %}
                <img srcset="{{trayContent.image}}" src="{{trayContent.image}}" class="img-full-width img-responsive" alt="" />
            {% endif %}
            {% if trayContent.quote %}
                <div class="quote-wrapper">
                    {% set quote = trayContent.quote %}
                    {% include '@ncc/partials/quote.html.twig' with quote %}
                </div>
            {% endif %}
            <div class="inner-wrapper">
                {% if trayContent.name %}
                    <h3 class="ncc-introduction no-margin-bottom">
                        <strong>{{trayContent.name}}{% if trayContent.department %},</strong> {{trayContent.department}}{% else %}</strong>{% endif %}
                    </h3>
                {% endif %}
                {% if trayContent.title %}
                {% endif %}
                <p class="ncc-body-2 no-margin">{{trayContent.title}}</p>
                {% if trayContent.description %}
                    {{trayContent.description | raw}}
                {% endif %}
            </div>
        </div>
    {% elseif trayContent.type == 'tray-curriculum-course' %}
        <div class="ncc-curriculum-course">
            <h4 class="ncc-display-4 fg-magneto">{{trayContent.title}}</h4>
            <h5 class="ncc-subhead-2 no-margin-top">{{trayContent.subtitle}}</h5>
            {{trayContent.description | raw}}
            {% if trayContent.prerequisite %}
                <div class="bottom">
                    <h6 class="ncc-subhead-1">Prerequisite(s) </h6>
                    {{trayContent.prerequisite | raw}}
                </div>
            {% endif %}
            {% if trayContent.core %}
                <div class="bottom">
                    <h6 class="ncc-subhead-1">Core </h6>
                    {{ trayContent.core | raw }}
                </div>
            {% endif %}
            {% if trayContent.iai %}
                <div class="bottom">
                    <h6 class="ncc-subhead-1">IAI </h6>
                    {{ trayContent.iai | raw }}
                </div>
            {% endif %}
            <p>
                <a class="ncc-btn ncc-btn-sm" href="https://merlin.noctrl.edu/" target="_blank">Schedule Of Classes</a>
            </p>
        </div>
    {% endif %}
</div>
