{# typography.html.twig #}

<div class="container-full">
    <h1 class="ncc-display-1">.ncc-display-1 (H1 default) Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
    <h2 class="ncc-display-2">.ncc-display-2 (H2 default) Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
    <h3 class="ncc-display-3">.ncc-display-3 (H3 default) Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
    <h4 class="ncc-display-4">.ncc-display-4 (H4 default) Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>

    <h5 class="ncc-title-1">.ncc-title-1 (H5 default) Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
    <h6 class="ncc-title-2">.ncc-title-2 (H6 default) Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>

    <h3 class="ncc-subhead-1">.ncc-subhead-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
    <h4 class="ncc-subhead-2">.ncc-subhead-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>

    <p class="ncc-body-1">.ncc-body-1 (P default) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, lacus nec placerat aliquam, lorem justo feugiat enim, consequat sollicitudin tellus massa et nisl. Nullam convallis sem turpis, eu accumsan odio viverra a. Vestibulum laoreet, neque eu convallis vulputate, purus felis aliquam justo, eget vestibulum diam velit vel lorem. Phasellus ac efficitur odio, vitae molestie eros. Cras ornare est eleifend nisi euismod, sed facilisis risus mollis.</p>
    <p class="ncc-body-2">.ncc-body-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, lacus nec placerat aliquam, lorem justo feugiat enim, consequat sollicitudin tellus massa et nisl. Nullam convallis sem turpis, eu accumsan odio viverra a. Vestibulum laoreet, neque eu convallis vulputate, purus felis aliquam justo, eget vestibulum diam velit vel lorem. Phasellus ac efficitur odio, vitae molestie eros. Cras ornare est eleifend nisi euismod, sed facilisis risus mollis.</p>
    <p class="ncc-description">.ncc-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, lacus nec placerat aliquam, lorem justo feugiat enim, consequat sollicitudin tellus massa et nisl. Nullam convallis sem turpis, eu accumsan odio viverra a. Vestibulum laoreet, neque eu convallis vulputate, purus felis aliquam justo, eget vestibulum diam velit vel lorem. Phasellus ac efficitur odio, vitae molestie eros. Cras ornare est eleifend nisi euismod, sed facilisis risus mollis.</p>

    <p class="ncc-label">.ncc-label Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, lacus nec placerat aliquam, lorem justo feugiat enim, consequat sollicitudin tellus massa et nisl. Nullam convallis sem turpis, eu accumsan odio viverra a. Vestibulum laoreet, neque eu convallis vulputate, purus felis aliquam justo, eget vestibulum diam velit vel lorem. Phasellus ac efficitur odio, vitae molestie eros. Cras ornare est eleifend nisi euismod, sed facilisis risus mollis.</p>
    <p class="ncc-introduction">.ncc-introduction Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, lacus nec placerat aliquam, lorem justo feugiat enim, consequat sollicitudin tellus massa et nisl. Nullam convallis sem turpis, eu accumsan odio viverra a. Vestibulum laoreet, neque eu convallis vulputate, purus felis aliquam justo, eget vestibulum diam velit vel lorem. Phasellus ac efficitur odio, vitae molestie eros. Cras ornare est eleifend nisi euismod, sed facilisis risus mollis.</p>

    <p class="ncc-blockquote">.ncc-blockquote (BLOCKQUOTE default) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, lacus nec placerat aliquam, lorem justo feugiat enim, consequat sollicitudin tellus massa et nisl. Nullam convallis sem turpis, eu accumsan odio viverra a. Vestibulum laoreet, neque eu convallis vulputate, purus felis aliquam justo, eget vestibulum diam velit vel lorem. Phasellus ac efficitur odio, vitae molestie eros. Cras ornare est eleifend nisi euismod, sed facilisis risus mollis.</p>


    <h3 class="ncc-subhead-1">Example Links</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, lacus nec <a href="#example-link" title="Example Link" aria-label="Example Link">placerat aliquam</a>, lorem justo feugiat enim, consequat sollicitudin tellus massa et nisl. Nullam convallis sem turpis, eu accumsan odio viverra a. Vestibulum laoreet, neque eu <a href="#example-link" title="Example Link" aria-label="Example Link">convallis vulputate</a>, purus felis aliquam justo, eget vestibulum diam velit vel lorem. Phasellus ac efficitur odio, vitae molestie eros. Cras ornare est eleifend nisi euismod, sed facilisis risus mollis.</p>

    <h3 class="ncc-subhead-1">Example Highlighted Text</h3>
    <p>Lorem <span class="text-highlighted">ipsum dolor</span> sit amet, consectetur adipiscing elit. Vestibulum sagittis, lacus <span class="text-highlighted">ipsum dolor</span> nec placerat aliquam, lorem justo feugiat enim, consequat sollicitudin tellus massa et nisl. Nullam convallis <span class="text-highlighted">ipsum dolor</span> sem turpis, eu accumsan odio viverra a. Vestibulum laoreet, neque eu convallis vulputate, purus felis aliquam justo, eget vestibulum diam velit vel lorem. Phasellus ac efficitur odio, vitae molestie eros. Cras ornare est eleifend nisi <span class="text-highlighted">ipsum dolor</span> euismod, sed facilisis risus mollis.</p>

    <h3 class="ncc-subhead-1">Example Lists</h3>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Donec sodales ex sed leo varius bibendum.</li>
        <li>Phasellus pulvinar eros eget lectus rhoncus semper.</li>
        <li>Nullam id risus a libero luctus aliquet sit amet nec neque.</li>
        <li>Etiam molestie enim viverra molestie scelerisque.</li>
        <li>Nulla ullamcorper lorem nec erat semper egestas.</li>
    </ul>
    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Donec sodales ex sed leo varius bibendum.</li>
        <li>Phasellus pulvinar eros eget lectus rhoncus semper.</li>
        <li>Nullam id risus a libero luctus aliquet sit amet nec neque.</li>
        <li>Etiam molestie enim viverra molestie scelerisque.</li>
        <li>Nulla ullamcorper lorem nec erat semper egestas.</li>
    </ol>
</div>
