<div #elwrapper>
    <div class="preview" #elpreview>
        <p [innerHtml]="content" class="bg-copy"></p>
        <div class="bottom-wrapper">
            <div class="heading-wrapper">
                <h3><a href="{{ profileUrl }}" target="_blank">{{name}}</a></h3>
                <h4>{{date}}</h4>
            </div>
            <svg class="ncc-icon s16">
            <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-logo-circle-facebook"></use>
            </svg>
        </div>
    </div>
    <div class="inner-wrapper" #elcontent>
        <div class="top-wrapper">
            <img src="{{icon}}" alt="">
            <div class="heading-wrapper">
                <h3><a href="{{ profileUrl }}" target="_blank">{{name}}</a></h3>
                <h4>{{date}}</h4>
            </div>
            <svg class="ncc-icon s16">
            <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-logo-circle-facebook"></use>
            </svg>
        </div>
        <p [innerHtml]="content"></p>
    </div>
</div>
