<div>
    <div class="bg-img" [ngStyle]="{'background-image': 'url(' + image + ')'}" #elimage></div>
    <div class="bg-overlay"></div>
    <a href="#video-trigger" class="ncc-btn-base" rel="{{modalContentId}}" (click)="openModal($event)" #elicon>
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="currentColor"><path d="M29 10H3c-1.654 0-3 1.347-3 3v22c0 1.655 1.346 3 3 3h26c1.654 0 3-1.345 3-3V13c0-1.654-1.346-3-3-3zM47.526 12.15a1.003 1.003 0 0 0-.973-.044l-12 6A1 1 0 0 0 34 19v10c0 .38.214.726.553.895l12 6a1.006 1.006 0 0 0 .973-.043c.294-.183.474-.505.474-.85V13a1 1 0 0 0-.474-.852z"/></g></svg>
    </a>
</div>
