{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'container-full',
]
%}
<article{{ attributes.addClass(classes) }}>
  {% if listingBlock is defined %}
    {% include '@ncc/partials/listing-block.html.twig' with {'listingBlock' : listingBlock} only %}
  {% endif %}
</article>
