{#
/**
 * @file
 * Theme override to display an item in a views RSS feed.
 *
 * Available variables:
 * - nid: RSS item NID.
 * - publication_date: RSS item publication date.
 * - title: RSS item title.
 * - sourceurl: RSS item link.
 * - description: RSS body text.
 * - image: RSS item image.
 * - tags: RSS item taxonomies.
 *
 * @see template_preprocess_ncc_views_view_row_rss()
 *
 * @ingroup themeable
 */
#}
<node>
  <nid>{{ nid }}</nid>
  <publication_date>{{ publication_date }}</publication_date>
  <title>{{ title }}</title>
  <description>{{ description }}</description>
  <sourceurl>{{ link }}</sourceurl>
  {% if image -%}
  <image>{{ image }}</image>
  {% else -%}
  <image />
  {% endif %}
  {% if tags -%}
  <tags>{{ tags }}</tags>
  {% else -%}
  <tags />
  {% endif %}
</node>
