{#
/**
 * @file
 * Default theme implementation progra acalog component.
 *
 * Available variables:
 * - program: Full program data.
 *   - title: Program title.
 *   - description: Program HTML description.
 *   - requirements: Requirements related to program.
 *     - name: Requirement group name.
 *     - courses: Courses related.
 *       - title: Course title.
 *       - trayContent: Course data into tray.
 *         - id: Unique tray content id.
 *         - title: Title.
 *         - subtitle: Subtitle.
 *         - description: Description.
 *         - prerequisite: Prerequisites.
 *         - scheduleLink: Schedule link.
 */
#}

{% macro listCourses(courses) %}

    {% if courses is not empty %}
        <div class="container-full">
            <ul class="list-unstyled">

                {% for course in courses %}
                    <li>

                        {% if course.trayContent is defined %}

                            <a href="#" class="ncc-open-tray" rel="{{ course.trayContent.id }}">{{ course.title }}</a>
                            {% if course.append is defined %}
                                {{ course.append | raw }}
                            {% endif %}

                            {% set vars = course.trayContent %}
                            {% set vars = {'trayContent': course.trayContent} %}
                            {% include '@ncc/partials/tray-content.html.twig' with vars only %}
                        {% else %}

                            {{ course.title | raw }}
                        {% endif %}

                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

<h2 class="ncc-display-3">{{ program.title }}</h2>
{{ program.description | raw }}

{% for requirement in program.requirements %}

    <div class="container-full">
        <h2 class="ncc-display-4">{{ requirement.name }}</h2>
        {{ requirement.description | raw }}
        {{ _self.listCourses(requirement.courses) }}

        {% if requirement.children is not empty %}

            {% for child in requirement.children %}

                <div class="container-full">
                    <h4 class="ncc-display-4">{{ child.name }}</h4>
                    {{ child.description | raw }}
                    {{ _self.listCourses(child.courses) }}

                    {% if child.children is not empty %}

                        {% for grandchild in child.children %}

                            <div class="container-full">
                                <h6 class="ncc-display-6">{{ grandchild.name }}</h6>
                                {% if grandchild.description is not empty %}
                                    {{ grandchild.description | raw }}
                                {% endif %}
                                {{ _self.listCourses(grandchild.courses) }}

                                {% if grandchild.children is not empty %}
                                {% for greatgrandchild in grandchild.children %}
                                    <div class="container-full">
                                        <h6 class="ncc-display-6">{{ greatgrandchild.name }}</h6>
                                        {% if greatgrandchild.description is not empty %}
                                            {{ greatgrandchild.description | raw }}
                                        {% endif %}
                                        {{ _self.listCourses(greatgrandchild.courses) }}
                                    </div>
                                {% endfor %}
                            {% endif %} 
                            </div>

                        {% endfor %}
                    {% endif %}

                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endfor %}