<div>
    <div class="bg-img" [ngStyle]="{'background-image': 'url(' + image + ')'}" #elimage></div>
    <div class="bottom-wrapper">
        <img src="{{icon}}" alt="">
        <h3><a href="{{ profileUrl }}" target="_blank">{{name}}</a></h3>
        <h4>{{date}}</h4>
        <svg class="ncc-icon s16">
        <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-logo-circle-instagram"></use>
        </svg>
    </div>
</div>
