:host{display:block;width:100%;transition:all .5s cubic-bezier(0.35, 0, 0.25, 1)}:host>div{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative}:host[min-width~="0px"][max-width~="450px"]>div{padding-bottom:12px}:host[min-width~="0px"]>div{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;top:6px;left:6px}:host[min-width~="451px"]>div{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;width:calc(100% - 2 * 6px);height:224px}:host[min-width~="701px"]>div{height:248px}:host[min-width~="0px"][max-width~="700px"]>div{cursor:pointer}
