<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >

<head>
	<title>ITS: Punch</title>
	<link rel = "stylesheet" type = "text/css" href = "../global.css" />
	<link rel = "stylesheet" type = "text/css" href = "panel.css" />
</head>

<body>
<form>
  <input type="button" value="Result" onclick="display()"/>
  </form>
  <script src="acme.js">
  </script>
<div class = "staffer">
			<h2>Aaron</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Barb</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Chad</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Daniel</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Dave</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 09:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Jeff</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Jennifer</h2>
			<div class = "out">OUT</div> 
			<div class = "details">Off-Campus 'til May 1  </div> 
		</div>

		<div class = "staffer">
			<h2>Karen</h2>
			<div class = "out">OUT</div> 
			<div class = "details">Off-Campus 'til Jun 17  </div> 
		</div>

		<div class = "staffer">
			<h2>Keiland</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Leonardo</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Linda</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 07:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Lori</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Lynn</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Matt</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>McLean</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Mike</h2>
			<div class = "out">OUT</div> 
			<div class = "details">Off-Campus 'til Jun 18  </div> 
		</div>

		<div class = "staffer">
			<h2>Todd</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 09:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Tom</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 07:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Tyler</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 08:00 AM</div> 
		</div>

		<div class = "staffer">
			<h2>Xochitl</h2>
			<div class = "other">IN</div> 
			<div class = "details">autopunched 07:30 AM</div> 
		</div>
<p style="clear:both; font-size: smaller; padding-top: 1em;">&lt; <a href="..">punch in/out</a></p>

</body>
</html>
