:host {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box
}
:host .preview, :host .inner-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all .5s cubic-bezier(0.35, 0, 0.25, 1)
}
:host .preview {
	background: #ffc03b url("/themes/spark451/ncc/images/card-bg-pattern-30.png") repeat;
	opacity: 1
}
:host .inner-wrapper {
	padding: 10px 33px;
	background-color: #35393c;
	border-bottom: 6px solid #ffc03b;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
}

:host .title-1, :host .title-2 {
	font-family: "bookmania", serif;
	font-weight: 400;
	margin: 0;
	color: #fff
}
:host .title-1 {
	line-height: 100%
}
[min-width~="0px"] :host .title-1 {
	font-size: 1.25rem
}
[min-width~="451px"] :host .title-1 {
	font-size: 1.5rem
}
[min-width~="701px"] :host .title-1 {
	font-size: 1.75rem
}
:host .title-2 {
	line-height: 80%;
	font-size: 12.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0.05;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
:host hr {
	margin: 22px 0 10px
}
:host .desc {
	font-family: "ingra-condensed", sans-serif;
	font-weight: 300;
	font-size: 0.875rem;
	line-height: 120%;
	margin: 0 0 24px;
	color: #fff
}
:host .desc-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: "ingra-condensed", sans-serif;
	font-weight: 400;
	font-size: 5rem;
	margin: 0;
	color: #35393c;
	line-height: 100%;
	opacity: 0.7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
:host .flex>*:last-child {
	margin-bottom: 0
}