
<div class="container-full ncc-calendar-wrapper">

    <div class="ncc-loading-spinner" *ngIf="isLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div class="ncc-spacer-sm"></div>

    <!-- <pre>{{events | json}}</pre> -->

    <!-- <div id="ncc-scheduler"></div> -->

    <div class="container" *ngIf="!isLoading">
        <div *ngIf="currentMonth" class="text-center ncc-current-month">
            <h1>Events in {{currentMonth}}</h1>
        </div>
        <div class="layout-row layout-wrap">
            <div class="ncc-col-12 ncc-col-gt-sm-9 ncc-calendar-filters">
                <div>
                    <a class="ncc-btn-tag toggle" *ngFor="let filter of eventFilters" [ngClass]="{active: filter.active}" (click)="toggleFilterById($event, filter.id)" >{{ filter.name }}</a>
                    <a class="ncc-btn-tag toggle" [ngClass]="{active: !hasActiveFilters()}" (click)="toggleFilterById($event, 0)">View All</a>
                </div>
            </div>
            <div class="ncc-col-12 ncc-col-gt-sm-3">
                <div class="ncc-calendar-toolbar layout-column">
                    <!-- Calendar Toolbar Placeholder -->
                </div>
            </div>
        </div>
    </div>
    <!-- <button class="ncc-btn ncc-btn-sm" (click)="updateOptionsExample(event)">Update Scheduler Options</button> -->

    <div class="position-relative" #elscheduler>
        <a class="ncc-kendo-nav display-block position-absolute ncc-kendo-nav-prev" (click)="backToPreviousMonth()">
            <span *ngIf="previousMonth"><span>{{ previousMonth }}</span></span>
            <svg version="1.1" id="Outline_Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <polyline fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="18.5,0.5
                5.5,12 18.5,23.5 "/>
            </svg>
        </a>
        <a class="ncc-kendo-nav display-block position-absolute ncc-kendo-nav-next" (click)="advanceToNextMonth()">
            <svg version="1.1" id="Outline_Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <polyline fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="5.5,23.5
                18.5,12 5.5,0.5 "/>
            </svg>
            <span *ngIf="nextMonth"><span>{{ nextMonth }}</span></span>
        </a>
    </div>
</div>

<div class="ncc-selected-events ncc-hidden-gt-md" #elselectedevents>
    <hr class="bg-wolverine s6" *ngIf="!isLoading" />
    <div class="container-full" *ngIf="selectedEvents && selectedEvents.events && selectedEvents.events.length">
        <div *ngFor="let selectedEvent of selectedEvents.events" class="layout-row layout-wrap">
            <div class="ncc-col-6">
                <div>
                    <h3 class="ncc-subhead-1 no-margin">
                        <a [href]="selectedEvent.url" [innerHtml]="selectedEvent.title"></a>
                    </h3>
                    <p class="ncc-description ncc-event-type">{{ selectedEvent.type }}</p>
                </div>
            </div>
            <div class="ncc-col-6">
                <div>
                    <p class="ncc-description no-margin">
                        <span class="ncc-hidden ncc-show-gt-sm">Starts at: </span>{{ formatUSLocaleTime(selectedEvent.start) }}
                        <span class="ncc-hidden-gt-sm"> - </span>
                        <span class="ncc-hidden ncc-show-gt-sm">Ends at: </span>{{ formatUSLocaleTime(selectedEvent.end) }}
                    </p>
                    <p class="ncc-description no-margin">
                        <span class="ncc-hidden ncc-show-gt-sm">Location: </span>
                        <span class="ncc-hidden-gt-sm">@ </span>{{ selectedEvent.address }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<ncc-calendar-tray class="ncc-hidden ncc-show-gt-md"></ncc-calendar-tray>
<div class="ncc-spacer-sm"></div>
