<div>
    <div class="swiper-container" #elswipercontainer>
        <div class="swiper-wrapper">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="ncc-social-feed-pagination-wrapper container-full clearfix" #elpaginationwrapper>
        <div class="ncc-social-feed-pagination">
            <a [hidden]="hideNavigation" href="#" (click)="movePrev($event)" class="nav-control">
                <svg class="ncc-icon ncc-icon-open">
                    <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-arrow-left-7"></use>
                </svg>
            </a>
            <div [hidden]="hidePager" class="swiper-pagination" #elswiperpagination></div>
            <a [hidden]="hideNavigation" href="#" (click)="moveNext($event)" class="nav-control">
                <svg class="ncc-icon ncc-icon-open">
                    <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-arrow-right-7"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
