<div>
    <div class="accordion-heading">
        <div class="matches-block" [style.visibility]="filtersMatches > -1 ? 'visible' : 'hidden'">
            <span class="number">{{filtersMatches}}</span>
            <span class="label">match<span *ngIf="filtersMatches > 1">es</span></span>
        </div>
        <hr class="bg-wolverine s2 short">
        <h5 class="ncc-title-1">FIND YOUR PROGRAM</h5>
        <p class="ncc-description">Wherever you are in your lifelong pursuit of knowledge and professional advancement, we have a program for you. Start exploring.</p>
    </div>
    <div class="summary" *ngIf="filtersMatches > -1">
        <div class="clear-all-wrapper">
            <a href="#clear-all" class="ncc-description" (click)="clearAllFilters($event)">Clear all</a>
        </div>
        <h5>FILTERING BY&hellip;</h5>
        <template ngFor let-category [ngForOf]="filterCategories">
            <template ngFor let-filter [ngForOf]="category.filters">
                <template ngFor let-choice [ngForOf]="filter.choices">
                    <a class="ncc-btn-tag toggle active" (click)="toggleFilterByTid(choice.tid)" *ngIf="choice.active">
                        <span class="btn-bg" [style.background-color]="choice.color" *ngIf="choice.color"></span>
                        <span class="btn-label">{{choice.title}}</span>
                    </a>
                </template>
            </template>
        </template>
    </div>
    <ncc-accordion [closeOthers]="true">
        <ncc-accordion-group heading="{{category.name}}" [isOpen]="false" *ngFor="let category of filterCategories">
            <!-- <div class="clear-all-wrapper">
                <a href="#clear-all" class="ncc-description" (click)="clearAllFilters($event)">Clear all</a>
            </div> -->
            <template ngFor let-filter [ngForOf]="category.filters">
                <h5>{{filter.name}}</h5>
                <div>
                    <template ngFor let-choice [ngForOf]="filter.choices">
                        <a class="ncc-btn-tag toggle" [ngClass]="{active: choice.active}" (click)="toggleFilterByTid(choice.tid)">
                            <span class="btn-bg" [style.background-color]="choice.color" *ngIf="choice.color"></span>
                            <span class="btn-label">{{choice.title}}</span>
                        </a>
                    </template>
                </div>
                <hr>
            </template>
        </ncc-accordion-group>
    </ncc-accordion>
    <button id="ncc-tray-close-btn" (click)="trayClose()">
        <svg class="ncc-icon">
            <use xlink:href="/themes/spark451/ncc/icons/core-icons.svg#icon-remove-1"></use>
        </svg>
    </button>
</div>
