{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the form.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}

{%
	set classes = [
	  'container-full',
	]
%}

<form{{ attributes.addClass(classes) }}>
	{{ title_prefix }}
	<div class="layout-row layout-wrap">
		{{ children }}
  	</div>
	{{ title_suffix }}
</form>

{{ attach_library('ncc/select-js') }}
{{ attach_library('ncc/select-callback') }}