{#
/**
 * @file
 * Default theme implementation to form confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous form submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}
<div class="webform-confirmation container-full">
  {% if progress %}
    {{ progress }}
  {% endif %}

  {% if message %}
    <div class="webform-confirmation__message">{{ message }}</div>
  {% endif %}

  <div class="webform-confirmation__back">
    <a href="{{ back_url }}" rel="back" title="{{ 'Go back to form'|t }}">{{ 'Back to form'|t }}</a>
  </div>
</div>
